# Web Scraping Using Beautiful Soup

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
#Question 1. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [5]:
url=('https://www.imdb.com/list/ls056092300/')
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [154]:
movie_name=[]
names=soup.find_all('h3',class_='lister-item-header')
for i in names:
    name=i.a.text
    movie_name.append(name)
print(movie_name)
len(movie_name)

['Ship of Theseus', 'Iruvar', 'Kaagaz Ke Phool', 'Lagaan: Once Upon a Time in India', 'Pather Panchali', 'Charulata', 'Rang De Basanti', 'Dev.D', '3 Idiots', 'Awaara', 'Nayakan', 'Aparajito', 'Pushpaka Vimana', 'Pyaasa', 'Ghatashraddha', 'Sholay', 'Aradhana', 'Do Ankhen Barah Haath', 'Bombay', 'Neecha Nagar', 'Do Bigha Zamin', 'Garm Hava', 'Piravi', 'Mughal-E-Azam', 'Amma Ariyan', 'Madhumati', 'Goopy Gyne Bagha Byne', 'Gangs of Wasseypur', 'Guide', 'Satya', 'Roja', 'Mr. India', 'The Cloud-Capped Star', 'Harishchandrachi Factory', 'Masoom', 'Agneepath', 'Tabarana Kathe', 'Zakhm', 'Dil Chahta Hai', 'Bhaag Milkha Bhaag', 'Chupke Chupke', 'Dilwale Dulhania Le Jayenge', 'Taare Zameen Par', 'Ardh Satya', 'Bhumika', 'Enthiran', 'Sadma', 'Shwaas', 'Lamhe', 'Haqeeqat', 'Shree 420', 'Kannathil Muthamittal', 'Hum Aapke Hain Koun..!', 'Ustad Hotel', 'Bandit Queen', 'Lakshya', 'Black Friday', 'Manthan', 'Apoorva Raagangal', 'English Vinglish', 'Jewel Thief', 'Pakeezah', 'Maqbool', 'Jis Desh Men Ganga Behti Hai', 'Sahib Bibi Aur Ghulam', 'Shatranj Ke Khilari', 'Narthanasala', 'Chandni Bar', 'Vaaranam Aayiram', 'Mr. and Mrs. Iyer', 'Chandni', 'English, August', 'Celluloid', 'Sagara Sangamam', 'Munna Bhai M.B.B.S.', 'Saaransh', 'Guddi', 'Vanaja', 'Vazhakku Enn 18/9', 'Gangaajal', 'Angoor', 'Guru', 'Andaz Apna Apna', 'Sangam', 'Oka Oori Katha', 'Bhuvan Shome', 'Border', 'Parineeta', 'Devdas', 'Abohomaan', 'Kuch Kuch Hota Hai', 'Pithamagan', 'Veyyil', 'Chemmeen', 'Jaane Bhi Do Yaaro', 'Apur Sansar', 'Kanchivaram', 'Monsoon Wedding', 'Black', 'Deewaar']

100

In [155]:
rating=[]
names=soup.find_all('div',class_='ipl-rating-star small')
for i in names:
    names=i.text.replace('\n','')
    rating.append(names)
print(rating)
len(rating)

['8', '8.4', '7.8', '8.1', '8.2', '8.1', '8.1', '7.9', '8.4', '7.8', '8.6', '8.2', '8.6', '8.3', '7.6', '8.1', '7.6', '8.4', '8.1', '6.7', '8.3', '8.1', '7.8', '8.1', '7.4', '7.8', '8.7', '8.2', '8.3', '8.3', '8.1', '7.7', '7.8', '8.4', '8.4', '7.6', '8.1', '7.9', '8.1', '8.2', '8.3', '8', '8.3', '8.1', '7.4', '7.1', '8.3', '8.1', '7.2', '7.8', '7.9', '8.4', '7.5', '8.2', '7.5', '7.8', '8.4', '7.6', '7.6', '7.8', '7.9', '7.2', '8', '7.1', '8.1', '7.5', '8.1', '7.6', '8.2', '7.9', '6.7', '7.6', '7.7', '8.8', '8.1', '8.1', '7.2', '7.2', '8.3', '7.8', '8.3', '7.7', '8', '7.3', '7.8', '7.2', '7.9', '7.2', '7.7', '7.5', '7.5', '8.3', '7.8', '7.8', '8.3', '8.4', '8.2', '7.3', '8.1', '8']

100

In [156]:
year_release=[]
names=soup.find_all('span',class_='lister-item-year text-muted unbold')
for i in names:
    name=i.text.replace('(',"").replace(')','')
    year_release.append(name)
print(year_release)
len(year_release)

['2012', '1997', '1959', '2001', '1955', '1964', '2006', '2009', '2009', '1951', '1987', '1956', '1987', '1957', '1977', '1975', '1969', '1957', '1995', '1946', '1953', '1974', '1989', '1960', '1986', '1958', '1969', '2012', '1965', '1998', '1992', '1987', '1960', '2009', '1983', '1990', '1986', '1998', '2001', '2013', '1975', '1995', '2007', '1983', '1977', '2010', '1983', '2004', '1991', '1964', '1955', '2002', '1994', '2012', '1994', '2004', '2004', '1976', '1975', '2012', '1967', '1972', '2003', '1960', '1962', '1977', '1963', '2001', '2008', '2002', '1989', '1994', '2013', '1983', '2003', '1984', '1971', '2006', '2012', '2003', '1982', '2007', '1994', 'I 1964', '1978', '1969', 'I 1997', '2005', '1955', '2009', '1998', '2003', '2006', '1965', '1983', '1959', '2008', '2001', '2005', '1975']

100

In [87]:
df=pd.DataFrame({'Movies Name':movie_name,'Rating':rating,'Year Of Release':year_release})
df

                          Movies Name Rating Year Of Release
0                     Ship of Theseus      8            2012
1                              Iruvar    8.4            1997
2                     Kaagaz Ke Phool    7.8            1959
3   Lagaan: Once Upon a Time in India    8.1            2001
4                     Pather Panchali    8.2            1955
..                                ...    ...             ...
95                        Apur Sansar    8.4            1959
96                        Kanchivaram    8.2            2008
97                    Monsoon Wedding    7.3            2001
98                              Black    8.1            2005
99                            Deewaar      8            1975

[100 rows x 3 columns]

In [91]:
#Question 2. Write a python program to scrape product name, price and discounts from flipkart

In [49]:
url='https://www.flipkart.com/search?q=ladies+bags&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1'
page=requests.get(url)
page

In [ ]:
sp=BeautifulSoup(page.content)
soup=sp.find('div',class_='_1YokD2 _3Mn1Gg')
soup

In [51]:
p_name=[]
names=soup.find_all('a',class_='IRpwTa')
for i in names:
    names=i.text
    p_name.append(names)
print(p_name)
len(p_name)

['Women Grey, Black Hand-held Bag - Extra Spacious', 'Women Pink Hand-held Bag - Extra Spacious', 'Women Beige Handbag - Extra Spacious', 'Women Blue Handbag', 'Women Black Shoulder Bag - Extra Spacious', 'Women Maroon Messenger Bag - Extra Spacious', 'Women Black Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Pink Hand-held Bag', 'Women Tan, Black Handbag', 'Women Grey Hand-held Bag - Regular Size', 'Women Blue Shoulder Bag', 'Women Maroon Shoulder Bag', 'Women Green Shoulder Bag', 'Women Black Messenger Bag - Extra Spacious', 'Women Beige, Black Hand-held Bag', 'Women Blue Shoulder Bag', 'Women Black Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Silver Hobo', 'Women Black Hand-held Bag - Extra Spacious', 'Women Pink Messenger Bag - Extra Spacious', 'Women White Hand-held Bag - Mini', 'Women Blue Satchel - Regular Size', 'Women Yellow Shoulder Bag - Extra Spacious', 'Women Tan Handbag', 'Women Tan Hand-held Bag - Extra Spacious', 'Women Black Handbag - Regular Size', 'Women Multicolor Shoulder Bag', 'Women Red Hobo', 'Women Multicolor Messenger Bag', 'Women Grey Messenger Bag - Extra Spacious', 'Women Black Hobo - Extra Spacious', 'Women Black Satchel - Regular Size', 'Women Blue Hand-held Bag', 'Women Grey Shoulder Bag - Extra Spacious', 'Women Grey Shoulder Bag - Mini', 'Women Beige Satchel - Regular Size', 'Women Grey Shoulder Bag']

40

In [52]:
price=[]
name=soup.find_all('div',class_='_30jeq3')
for i in name:
    names=i.text
    price.append(names)
print(price)
len(price)

['₹499', '₹419', '₹949', '₹769', '₹227', '₹384', '₹199', '₹1,599', '₹369', '₹245', '₹1,139', '₹1,067', '₹290', '₹197', '₹489', '₹384', '₹1,804', '₹454', '₹292', '₹369', '₹1,299', '₹359', '₹384', '₹1,369', '₹1,219', '₹227', '₹599', '₹599', '₹384', '₹369', '₹1,159', '₹889', '₹384', '₹1,029', '₹1,449', '₹449', '₹499', '₹639', '₹899', '₹285']

40

In [53]:
discount=[]

name=soup.find_all('div',class_='_3Ay6Sb')
for i in name:
    names=i.text
    discount.append(names)
print(discount)
len(discount)

['82% off', '83% off', '70% off', '75% off', '85% off', '87% off', '90% off', '67% off', '50% off', '75% off', '71% off', '64% off', '83% off', '86% off', '34% off', '87% off', '57% off', '81% off', '83% off', '50% off', '71% off', '20% off', '87% off', '69% off', '72% off', '85% off', '78% off', '72% off', '82% off', '50% off', '61% off', '55% off', '87% off', '70% off', '67% off', '43% off', '73% off', '67% off', '69% off', '83% off']

40

In [55]:
df=pd.DataFrame({'Product Name':p_name,'Price':price,'Discount':discount})
df

                                        Product Name   Price Discount
0   Women Grey, Black Hand-held Bag - Extra Spacious    ₹499  82% off
1          Women Pink Hand-held Bag - Extra Spacious    ₹419  83% off
2               Women Beige Handbag - Extra Spacious    ₹949  70% off
3                                 Women Blue Handbag    ₹769  75% off
4          Women Black Shoulder Bag - Extra Spacious    ₹227  85% off
5        Women Maroon Messenger Bag - Extra Spacious    ₹384  87% off
6                           Women Black Shoulder Bag    ₹199  90% off
7                      Women Multicolor Shoulder Bag  ₹1,599  67% off
8                      Women Multicolor Shoulder Bag    ₹369  50% off
9                           Women Pink Hand-held Bag    ₹245  75% off
10                          Women Tan, Black Handbag  ₹1,139  71% off
11           Women Grey Hand-held Bag - Regular Size  ₹1,067  64% off
12                           Women Blue Shoulder Bag    ₹290  83% off
13                         Women Maroon Shoulder Bag    ₹197  86% off
14                          Women Green Shoulder Bag    ₹489  34% off
15        Women Black Messenger Bag - Extra Spacious    ₹384  87% off
16                  Women Beige, Black Hand-held Bag  ₹1,804  57% off
17                           Women Blue Shoulder Bag    ₹454  81% off
18                          Women Black Shoulder Bag    ₹292  83% off
19                     Women Multicolor Shoulder Bag    ₹369  50% off
20                                 Women Silver Hobo  ₹1,299  71% off
21        Women Black Hand-held Bag - Extra Spacious    ₹359  20% off
22         Women Pink Messenger Bag - Extra Spacious    ₹384  87% off
23                  Women White Hand-held Bag - Mini  ₹1,369  69% off
24                 Women Blue Satchel - Regular Size  ₹1,219  72% off
25        Women Yellow Shoulder Bag - Extra Spacious    ₹227  85% off
26                                 Women Tan Handbag    ₹599  78% off
27          Women Tan Hand-held Bag - Extra Spacious    ₹599  72% off
28                Women Black Handbag - Regular Size    ₹384  82% off
29                     Women Multicolor Shoulder Bag    ₹369  50% off
30                                    Women Red Hobo  ₹1,159  61% off
31                    Women Multicolor Messenger Bag    ₹889  55% off
32         Women Grey Messenger Bag - Extra Spacious    ₹384  87% off
33                 Women Black Hobo - Extra Spacious  ₹1,029  70% off
34                Women Black Satchel - Regular Size  ₹1,449  67% off
35                          Women Blue Hand-held Bag    ₹449  43% off
36          Women Grey Shoulder Bag - Extra Spacious    ₹499  73% off
37                    Women Grey Shoulder Bag - Mini    ₹639  67% off
38                Women Beige Satchel - Regular Size    ₹899  69% off
39                           Women Grey Shoulder Bag    ₹285  83% off

In [136]:
# Question 3.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [137]:
#a) Top 10 ODI Batsmen in men’s cricket along with the records for matches, points and rating.

In [57]:
url='https://sports.ndtv.com/cricket/icc-rankings/odi-batting'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [59]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
p_name=p_name[0:10]
p_name

['Babar Azam',
 'Shubman Gill',
 'Virat Kohli',
 'Rohit Sharma',
 'Daryl Mitchell',
 'David Warner',
 'Harry Tector',
 'Dawid Malan',
 'Rassie van der Dussen',
 'Heinrich Klaasen']

In [60]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['Pakistan',
 'India',
 'India',
 'India',
 'New Zealand',
 'Australia',
 'Ireland',
 'England',
 'South Africa',
 'South Africa']

In [61]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
rating

['824', '801', '768', '746', '728', '723', '723', '707', '701', '697']

In [62]:
df=pd.DataFrame({'Player Name':p_name,'Country':country,'Rating':rating})
df

             Player Name       Country Rating
0             Babar Azam      Pakistan    824
1           Shubman Gill         India    801
2            Virat Kohli         India    768
3           Rohit Sharma         India    746
4         Daryl Mitchell   New Zealand    728
5           David Warner     Australia    723
6           Harry Tector       Ireland    723
7            Dawid Malan       England    707
8  Rassie van der Dussen  South Africa    701
9       Heinrich Klaasen  South Africa    697

In [63]:
# b.Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [64]:
url='https://sports.ndtv.com/cricket/icc-rankings'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [66]:
team=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    team.append(name)
team=team[0:10]
team

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'Pakistan',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Zimbabwe']

In [67]:
match=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    match.append(name)
match=match[0:30:3]
match

['37', '32', '43', '24', '26', '29', '31', '27', '22', '7']

In [68]:
points=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    points.append(name)
points=points[1:30:3]
points

['4345', '3746', '4941', '2536', '2471', '2576', '2505', '2123', '1131', '223']

In [69]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[2:30:3]
rating

['117', '117', '115', '106', '95', '89', '81', '79', '51', '32']

In [70]:
df=pd.DataFrame({'Team':team,'Matches':match,'Points':points,'Rating':rating})
df

           Team Matches Points Rating
0     Australia      37   4345    117
1         India      32   3746    117
2       England      43   4941    115
3  South Africa      24   2536    106
4   New Zealand      26   2471     95
5      Pakistan      29   2576     89
6   West Indies      31   2505     81
7     Sri Lanka      27   2123     79
8    Bangladesh      22   1131     51
9      Zimbabwe       7    223     32

In [71]:
# c . Top 10 ODI bowlers along with the records of their team and rating.

In [72]:
url='https://sports.ndtv.com/cricket/icc-rankings/odi-bowling'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [74]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
p_name=p_name[0:10]
p_name

['Keshav Maharaj',
 'Josh Hazlewood',
 'Adam Zampa',
 'Mohammed Siraj',
 'Jasprit Bumrah',
 'Mohammad Nabi',
 'Shaheen Afridi',
 'Rashid Khan',
 'Kuldeep Yadav',
 'Trent Boult']

In [75]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['South Africa',
 'Australia',
 'Australia',
 'India',
 'India',
 'Afghanistan',
 'Pakistan',
 'Afghanistan',
 'India',
 'New Zealand']

In [76]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
rating

['716', '688', '686', '678', '665', '653', '650', '647', '645', '643']

In [77]:
df=pd.DataFrame({'Player Name':p_name,'Country':country,'Rating':rating})
df

      Player Name       Country Rating
0  Keshav Maharaj  South Africa    716
1  Josh Hazlewood     Australia    688
2      Adam Zampa     Australia    686
3  Mohammed Siraj         India    678
4  Jasprit Bumrah         India    665
5   Mohammad Nabi   Afghanistan    653
6  Shaheen Afridi      Pakistan    650
7     Rashid Khan   Afghanistan    647
8   Kuldeep Yadav         India    645
9     Trent Boult   New Zealand    643

In [1]:
# Question 4.Scrap this site  https://www.cnbc.com/world/?region=world headings ,date,News link.

In [4]:
url='https://www.cnbc.com/world/?region=world'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [7]:
date=[]
name=soup.find_all('span',class_='LatestNews-wrapper')
for i in name:
    name=i.text
    date.append(name)
date

['3 Hours Ago',
 '6 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '11 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '12 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '13 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago',
 '14 Hours Ago']

In [18]:
title=[]
name=soup.find_all('a',class_='LatestNews-headline')
for i in name:
    name=i.text
    title.append(name)
title

["OpenAI says in memo that Musk's claims ‘stem from Elon’s regrets’ that he's gone",
 'Waymo wins approval to expand robotaxi service in Los Angeles, San Francisco Peninsula',
 'CEO explains why RadNet is piloting mammogram screenings in Walmart stores',
 "Cramer's Lightning Round: 'Not recommending' Global Net Lease",
 "Cramer's week ahead: Watch for earnings from Target, CrowdStrike, Kroger and more",
 'Super Micro joining S&P 500 after stock price soars more than 20-fold in 2 years',
 'Change Healthcare sets up a new electronic prescription service and funding program',
 'Lockheed Martin looks to acquire spacecraft maker Terran Orbital for $600M',
 'Google Gemini head removes social media profiles after AI product launch',
 'Reddit seeking a valuation of up to $6.5 billion in IPO',
 'NASA shuts down satellite refueling project after Maxar is cited for poor performance',
 'Fed Chair Powell and jobs data take center stage next week on Wall Street',
 'Here are the Nasdaq’s most beloved stocks that are expected to rally',
 "What worked and didn't work this week from AI and cyber to consumer and gaming",
 'Judge rejects AstraZeneca’s challenge to Medicare drug price negotiations',
 'What to know about this hot AI stock up nearly 800% in the past year',
 'Dell shares have best day since return to stock market in 2018',
 "Appliances don't last like they used to, experts say. Consider this before getting repair",
 'Co-defendant in Sen. Bob Menendez corruption case pleads guilty',
 'Stocks making the biggest moves midday: Spirit AeroSystems, Zscaler and more',
 'These are the most overbought stocks with the market at a record',
 "AI startup Cohere says some rivals build Bugatti sports cars, 'We make F150s'",
 'CVS and Walgreens to start selling abortion pill mifepristone this month\xa0',
 '7 places to retire abroad and live comfortably on as little as $1,000/month',
 'Couple earns up to $70,000 a month, but still feels stressed about money',
 "Wall Street is worried about NYCB's loan losses and deposits as stock sinks ",
 'This dividend strategy is swapping out chip stock winner for Starbucks',
 'The U.S. national debt is rising by $1 trillion about every 100 days',
 'An analyst call on red-hot Broadcom indicates a possible buying opportunity ahead',
 'Trump lawyers urge judge to schedule classified documents trial after election']

In [19]:
links=[]
name=soup.find_all('a',class_='LatestNews-headline')
for i in name:
    name=i['href']
    links.append(name)
links

['https://www.cnbc.com/2024/03/01/openai-says-musk-claims-in-lawsuit-stem-from-elons-regrets-hes-out.html',
 'https://www.cnbc.com/2024/03/01/waymo-approved-to-expand-robotaxi-service-in-los-angeles-sf-peninsula.html',
 'https://www.cnbc.com/2024/03/01/ceo-explains-why-radnet-is-piloting-mammogram-screenings-in-walmart-stores.html',
 'https://www.cnbc.com/2024/03/01/cramers-lightning-round-not-recommending-global-net-lease.html',
 'https://www.cnbc.com/2024/03/01/cramers-week-ahead-earnings-from-target-crowdstrike-and-kroger.html',
 'https://www.cnbc.com/2024/03/01/super-micro-joining-sp-500-after-20-fold-jump-in-stock-in-two-years.html',
 'https://www.cnbc.com/2024/03/01/change-healthcare-new-electronic-prescription-tool-amid-cyberattack.html',
 'https://www.cnbc.com/2024/03/01/lockheed-martin-looks-to-acquire-terran-orbital-for-about-600-million.html',
 'https://www.cnbc.com/2024/03/01/google-gemini-head-removes-social-media-profiles-after-product-launch.html',
 'https://www.cnbc.com/2024/03/01/reddit-seeking-a-valuation-of-up-to-6point5-billion-in-ipo.html',
 'https://www.cnbc.com/2024/03/01/nasa-shuts-down-maxar-led-osam-1-satellite-refueling-project.html',
 'https://www.cnbc.com/2024/03/01/fed-chair-powell-and-jobs-data-take-center-stage-next-week-on-wall-street.html',
 'https://www.cnbc.com/2024/03/01/the-nasdaqs-most-beloved-stocks-that-are-expected-to-rally.html',
 'https://www.cnbc.com/2024/03/01/what-worked-didnt-work-this-week-salesforce-palo-alto-and-apple-wynn.html',
 'https://www.cnbc.com/2024/03/01/medicare-drug-price-negotiations-judge-rejects-astrazeneca-challenge.html',
 'https://www.cnbc.com/2024/03/01/people-didnt-see-it-coming-what-to-know-about-this-hot-ai-stock-up-nearly-800percent-in-the-past-year.html',
 'https://www.cnbc.com/2024/03/01/dell-shares-have-best-day-since-return-to-stock-market-in-2018.html',
 'https://www.cnbc.com/2024/03/01/household-appliances-cost-more-but-dont-last-like-they-used-to.html',
 'https://www.cnbc.com/2024/03/01/co-defendant-in-sen-bob-menendez-corruption-case-pleads-guilty.html',
 'https://www.cnbc.com/2024/03/01/stocks-making-the-biggest-moves-midday-spr-zs-dell-amd-and-more.html',
 'https://www.cnbc.com/2024/03/01/these-are-the-most-overbought-stocks-with-the-market-at-a-record-including-general-electric.html',
 'https://www.cnbc.com/2024/03/01/cohere-says-rivals-are-building-bugatti-sports-cars-we-make-f150s.html',
 'https://www.cnbc.com/2024/03/01/cvs-walgreens-to-start-selling-abortion-pill-mifepristone-this-month-.html',
 'https://www.cnbc.com/2024/03/01/us-news-world-report-most-affordable-places-retire-abroad.html',
 'https://www.cnbc.com/2024/03/01/why-couple-worth-1point3-million-dollars-still-feels-broke.html',
 'https://www.cnbc.com/2024/03/01/wall-street-worries-about-nycbs-loan-losses-and-deposit-levels.html',
 'https://www.cnbc.com/2024/03/01/this-dividend-strategy-is-swapping-out-a-chip-stock-winner-for-starbucks-heres-why.html',
 'https://www.cnbc.com/2024/03/01/the-us-national-debt-is-rising-by-1-trillion-about-every-100-days.html',
 'https://www.cnbc.com/2024/03/01/an-analyst-call-on-red-hot-broadcom-indicates-a-possible-buying-opportunity-ahead.html',
 'https://www.cnbc.com/2024/03/01/trump-lawyers-want-classified-documents-trial-after-election.html']

In [21]:
df=pd.DataFrame({'Headings':title,"Date":date,'News Links':links})
print(df)

                                             Headings          Date  \
0   OpenAI says in memo that Musk's claims ‘stem f...   3 Hours Ago
1   Waymo wins approval to expand robotaxi service...   6 Hours Ago
2   CEO explains why RadNet is piloting mammogram ...   7 Hours Ago
3   Cramer's Lightning Round: 'Not recommending' G...   7 Hours Ago
4   Cramer's week ahead: Watch for earnings from T...   7 Hours Ago
5   Super Micro joining S&P 500 after stock price ...   7 Hours Ago
6   Change Healthcare sets up a new electronic pre...   8 Hours Ago
7   Lockheed Martin looks to acquire spacecraft ma...   8 Hours Ago
8   Google Gemini head removes social media profil...   9 Hours Ago
9   Reddit seeking a valuation of up to $6.5 billi...  10 Hours Ago
10  NASA shuts down satellite refueling project af...  10 Hours Ago
11  Fed Chair Powell and jobs data take center sta...  10 Hours Ago
12  Here are the Nasdaq’s most beloved stocks that...  11 Hours Ago
13  What worked and didn't work this week from AI ...  11 Hours Ago
14  Judge rejects AstraZeneca’s challenge to Medic...  11 Hours Ago
15  What to know about this hot AI stock up nearly...  12 Hours Ago
16  Dell shares have best day since return to stoc...  12 Hours Ago
17  Appliances don't last like they used to, exper...  12 Hours Ago
18  Co-defendant in Sen. Bob Menendez corruption c...  12 Hours Ago
19  Stocks making the biggest moves midday: Spirit...  13 Hours Ago
20  These are the most overbought stocks with the ...  13 Hours Ago
21  AI startup Cohere says some rivals build Bugat...  13 Hours Ago
22  CVS and Walgreens to start selling abortion pi...  13 Hours Ago
23  7 places to retire abroad and live comfortably...  13 Hours Ago
24  Couple earns up to $70,000 a month, but still ...  13 Hours Ago
25  Wall Street is worried about NYCB's loan losse...  14 Hours Ago
26  This dividend strategy is swapping out chip st...  14 Hours Ago
27  The U.S. national debt is rising by $1 trillio...  14 Hours Ago
28  An analyst call on red-hot Broadcom indicates ...  14 Hours Ago
29  Trump lawyers urge judge to schedule classifie...  14 Hours Ago

                                           News Links
0   https://www.cnbc.com/2024/03/01/openai-says-mu...
1   https://www.cnbc.com/2024/03/01/waymo-approved...
2   https://www.cnbc.com/2024/03/01/ceo-explains-w...
3   https://www.cnbc.com/2024/03/01/cramers-lightn...
4   https://www.cnbc.com/2024/03/01/cramers-week-a...
5   https://www.cnbc.com/2024/03/01/super-micro-jo...
6   https://www.cnbc.com/2024/03/01/change-healthc...
7   https://www.cnbc.com/2024/03/01/lockheed-marti...
8   https://www.cnbc.com/2024/03/01/google-gemini-...
9   https://www.cnbc.com/2024/03/01/reddit-seeking...
10  https://www.cnbc.com/2024/03/01/nasa-shuts-dow...
11  https://www.cnbc.com/2024/03/01/fed-chair-powe...
12  https://www.cnbc.com/2024/03/01/the-nasdaqs-mo...
13  https://www.cnbc.com/2024/03/01/what-worked-di...
14  https://www.cnbc.com/2024/03/01/medicare-drug-...
15  https://www.cnbc.com/2024/03/01/people-didnt-s...
16  https://www.cnbc.com/2024/03/01/dell-shares-ha...
17  https://www.cnbc.com/2024/03/01/household-appl...
18  https://www.cnbc.com/2024/03/01/co-defendant-i...
19  https://www.cnbc.com/2024/03/01/stocks-making-...
20  https://www.cnbc.com/2024/03/01/these-are-the-...
21  https://www.cnbc.com/2024/03/01/cohere-says-ri...
22  https://www.cnbc.com/2024/03/01/cvs-walgreens-...
23  https://www.cnbc.com/2024/03/01/us-news-world-...
24  https://www.cnbc.com/2024/03/01/why-couple-wor...
25  https://www.cnbc.com/2024/03/01/wall-street-wo...
26  https://www.cnbc.com/2024/03/01/this-dividend-...
27  https://www.cnbc.com/2024/03/01/the-us-nationa...
28  https://www.cnbc.com/2024/03/01/an-analyst-cal...
29  https://www.cnbc.com/2024/03/01/trump-lawyers-...

In [78]:
# Question 5. Write a python program to scrape house details from mentioned URL. It should include house title, location,
#area, deposits and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
#Rajaji Nagar.

In [59]:
url='https://www.nobroker.in/property/rent/chennai/Chennai/?searchParam=W3sibGF0IjoxMy4wNDM3NjEyODI5MTkyLCJsb24iOjgwLjIwMDA2ODUxNjk2OTMsInNob3dNYXAiOmZhbHNlLCJwbGFjZUlkIjoiQ2hJSllUTjlULXBsVWpvUk05UmphQXVuWVc0IiwicGxhY2VOYW1lIjoiQ2hlbm5haSIsImNpdHkiOiJjaGVubmFpIn1d&sharedAccomodation=0&orderBy=nbRank,desc&radius=2&traffic=true&travelTime=30&propertyType=rent&pageNo1'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [70]:
title=[]
name=soup.find_all('h2',class_='heading-6 flex items-center font-semi-bold m-0')
for i in name:
    name=i.text
    title.append(name)
title

['1 BHK House for Rent  In Saidapet Chennai',
 '2 BHK House for Rent  In Royapuram Chennai',
 '3 BHK Flat for Rent  In Thoraipakkam Chennai',
 '1 BHK House for Rent  In Purasaiwakkam Chennai',
 '1 RK Flat In Own for Rent  In Vadapalani Chennai',
 '2 BHK House for Rent  In  Chromepet Chennai',
 '3 BHK Flat In Madhurams Anugraha for Rent  In Shastri Nagar, Adyar Chennai',
 '2 BHK House for Rent  In Thiruvottiyur Chennai',
 '2 BHK Flat In Subhav Apartments for Rent  In Nungambakkam Chennai',
 '2 BHK House for Rent  In Kallikuppam Chennai',
 '2 BHK Flat In Parthan for Rent  In Purasaiwakkam Chennai',
 '1 BHK House for Rent  In Iyappanthangal Chennai',
 '2 BHK Flat In Eloi Flats for Lease  In Palaniappa Nagar, Madhavaram Chennai',
 '2 BHK House for Rent  In Velachery Chennai',
 '2 BHK Flat In Apartment for Rent  In Saligramam Chennai',
 '3 BHK Flat In Acchyuthans Sri Sudharsana for Rent  In Nanganallur Chennai',
 '2 BHK Flat In Prithvi Apartment for Rent  In Virugambakkam Chennai',
 '2 BHK Flat In Swaminathan Illam for Rent  In Padi Chennai',
 '1 RK House for Rent  In Maduravoyal Chennai',
 '2 BHK House for Rent  In Saidapet Metro Chennai',
 '2 BHK Flat In Sp Flats for Rent  In Thirumugan Street, Keelkattalai Chennai',
 '3 BHK Flat In Shri Sai Nivas for Rent  In , Porur Chennai',
 '2 BHK House for Rent  In K. K. Nagar Chennai',
 '2 BHK House for Rent  In Velachery Chennai',
 '2 BHK House for Rent  In Pallikaranai Chennai',
 '1 BHK House for Rent  In Saidapet Chennai']

In [71]:
price=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    price.append(name)
price=price[0:100:3]
price

['₹ 9,000 +₹ 500Maintenance',
 '₹ 17,000No Extra Maintenance',
 '₹ 28,000 +₹ 1,000Maintenance',
 '₹ 11,000 +₹ 500Maintenance',
 '₹ 10,000 +₹ 1,000Maintenance',
 '₹ 15,500No Extra Maintenance',
 '₹ 45,000No Extra Maintenance',
 '₹ 10,000 +₹ 200Maintenance',
 '₹ 25,000 +₹ 600Maintenance',
 '₹ 6,500No Extra Maintenance',
 '₹ 17,000 +₹ 1,800Maintenance',
 '₹ 12,000No Extra Maintenance',
 'Only Deposit +₹ 1,000Maintenance',
 '₹ 12,000No Extra Maintenance',
 '₹ 17,000 +₹ 1,000Maintenance',
 '₹ 25,000 +₹ 2,000Maintenance',
 '₹ 17,600 +₹ 1,200Maintenance',
 '₹ 14,000 +₹ 1,000Maintenance',
 '₹ 13,000No Extra Maintenance',
 '₹ 18,000 +₹ 500Maintenance',
 '₹ 12,000No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 22,000No Extra Maintenance',
 '₹ 15,000No Extra Maintenance',
 '₹ 13,000No Extra Maintenance',
 '₹ 9,000 +₹ 500Maintenance']

In [72]:
Deposit=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    Deposit.append(name)
Deposit=Deposit[1:100:3]
print(Deposit)
len(Deposit)

['₹50,000', '₹85,000', '₹1,50,000', '₹1,00,000', '₹50,000', '₹1,00,000', '₹2,00,000', '₹70,000', '₹2,00,000', '₹30,000', '₹1,50,000', '₹50,000', '₹13,00,000', '₹30,000', '₹1,00,000', '₹1,50,000', '₹1,00,000', '₹1,00,000', '₹50,000', '₹1,00,000', '₹60,000', '₹1,00,000', '₹1,32,000', '₹1,00,000', '₹78,000', '₹50,000']

26

In [73]:
area_in_sqft=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    area_in_sqft.append(name)
area_in_sqft=area_in_sqft[2:100:3]
print(area_in_sqft)
len(area_in_sqft)

['400 sqft', '1,000 sqft', '1,400 sqft', '500 sqft', '400 sqft', '1,200 sqft', '1,500 sqft', '800 sqft', '760 sqft', '600 sqft', '1,000 sqft', '700 sqft', '740 sqft', '600 sqft', '1,100 sqft', '1,250 sqft', '756 sqft', '700 sqft', '360 sqft', '950 sqft', '820 sqft', '1,100 sqft', '900 sqft', '600 sqft', '990 sqft', '400 sqft']

26

In [77]:
df=pd.DataFrame({"Area/Title":title,'Price':price,"Deposits":Deposit,"Area in sqft":area_in_sqft})
df

,Area/Title,Price,Deposits,Area in sqft
0,1 BHK House for Rent In Saidapet Chennai,"₹ 9,000 +₹ 500Maintenance","₹50,000",400 sqft
1,2 BHK House for Rent In Royapuram Chennai,"₹ 17,000No Extra Maintenance","₹85,000","1,000 sqft"
2,3 BHK Flat for Rent In Thoraipakkam Chennai,"₹ 28,000 +₹ 1,000Maintenance","₹1,50,000","1,400 sqft"
3,1 BHK House for Rent In Purasaiwakkam Chennai,"₹ 11,000 +₹ 500Maintenance","₹1,00,000",500 sqft
4,1 RK Flat In Own for Rent In Vadapalani Chennai,"₹ 10,000 +₹ 1,000Maintenance","₹50,000",400 sqft
5,2 BHK House for Rent In Chromepet Chennai,"₹ 15,500No Extra Maintenance","₹1,00,000","1,200 sqft"
6,3 BHK Flat In Madhurams Anugraha for Rent In ...,"₹ 45,000No Extra Maintenance","₹2,00,000","1,500 sqft"
7,2 BHK House for Rent In Thiruvottiyur Chennai,"₹ 10,000 +₹ 200Maintenance","₹70,000",800 sqft
8,2 BHK Flat In Subhav Apartments for Rent In N...,"₹ 25,000 +₹ 600Maintenance","₹2,00,000",760 sqft
9,2 BHK House for Rent In Kallikuppam Chennai,"₹ 6,500No Extra Maintenance","₹30,000",600 sqft
10,2 BHK Flat In Parthan for Rent In Purasaiwakk...,"₹ 17,000 +₹ 1,800Maintenance","₹1,50,000","1,000 sqft"
11,1 BHK House for Rent In Iyappanthangal Chennai,"₹ 12,000No Extra Maintenance","₹50,000",700 sqft
12,2 BHK Flat In Eloi Flats for Lease In Palania...,"Only Deposit +₹ 1,000Maintenance","₹13,00,000",740 sqft
13,2 BHK House for Rent In Velachery Chennai,"₹ 12,000No Extra Maintenance","₹30,000",600 sqft
14,2 BHK Flat In Apartment for Rent In Saligrama...,"₹ 17,000 +₹ 1,000Maintenance","₹1,00,000","1,100 sqft"
15,3 BHK Flat In Acchyuthans Sri Sudharsana for R...,"₹ 25,000 +₹ 2,000Maintenance","₹1,50,000","1,250 sqft"
16,2 BHK Flat In Prithvi Apartment for Rent In V...,"₹ 17,600 +₹ 1,200Maintenance","₹1,00,000",756 sqft
17,2 BHK Flat In Swaminathan Illam for Rent In P...,"₹ 14,000 +₹ 1,000Maintenance","₹1,00,000",700 sqft
18,1 RK House for Rent In Maduravoyal Chennai,"₹ 13,000No Extra Maintenance","₹50,000",360 sqft
19,2 BHK House for Rent In Saidapet Metro Chennai,"₹ 18,000 +₹ 500Maintenance","₹1,00,000",950 sqft
20,2 BHK Flat In Sp Flats for Rent In Thirumugan...,"₹ 12,000No Extra Maintenance","₹60,000",820 sqft
21,"3 BHK Flat In Shri Sai Nivas for Rent In , Po...","₹ 20,000No Extra Maintenance","₹1,00,000","1,100 sqft"
22,2 BHK House for Rent In K. K. Nagar Chennai,"₹ 22,000No Extra Maintenance","₹1,32,000",900 sqft
23,2 BHK House for Rent In Velachery Chennai,"₹ 15,000No Extra Maintenance","₹1,00,000",600 sqft
24,2 BHK House for Rent In Pallikaranai Chennai,"₹ 13,000No Extra Maintenance","₹78,000",990 sqft
25,1 BHK House for Rent In Saidapet Chennai,"₹ 9,000 +₹ 500Maintenance","₹50,000",400 sqft

In [47]:
# Question 6
#Write a python program to scrape first 10 product details which include product name , price , Image URL from
#https://www.bewakoof.com/bestseller?sort=popular

In [39]:
url='https://www.bewakoof.com/bestseller?sort=popular'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [41]:
p_name=[]
names=soup.find_all('div',class_='productNaming bkf-ellipsis')
for i in names:
    names=i.h2.text
    p_name.append(names)
print(p_name)
len(p_name)

["Women's Orange All Over Printed Pyjamas", "Women's Black Pyjamas", "Men's Black T-shirt", "Men's White T-shirt", "Women's Red Boyfriend T-shirt", "Men's Sage Green Trousers", "Men's Desert Beige Trousers", "Men's Dark Olive Trousers", "Women's Purple Sunny Moooood Graphic Printed Boyfriend T-shirt", "Women's Black Oversized T-shirt"]

10

In [42]:
image_url=[]
names=soup.find_all('img',class_='productImgTag')
for i in names:
    image_url.append(i['src'])
image_url

['https://images.bewakoof.com/t640/women-aop-regular-pyjama-604946-1702644020-1.jpg',
 'https://images.bewakoof.com/t640/women-s-black-pyjamas-581562-1707292627-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirt-106-1701423878-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-105-1702967985-1.jpg',
 'https://images.bewakoof.com/t640/women-s-red-boyfriend-t-shirt-170465-1658918677-1.jpg',
 'https://images.bewakoof.com/t640/sage-green-casual-cotton-trouser-340543-1663661829-1.jpg',
 'https://images.bewakoof.com/t640/desert-beige-casual-cotton-trouser-330853-1663661915-1.jpg',
 'https://images.bewakoof.com/t640/dark-olive-casual-cotton-trouser-330854-1663662028-1.jpg',
 'https://images.bewakoof.com/t640/women-s-purple-sunny-moooood-graphic-printed-boyfriend-t-shirt-588990-1681219884-1.jpg',
 'https://images.bewakoof.com/t640/women-black-solid-oversize-t-shirt-580349-1684862246-1.jpg']

In [38]:
price=[]
name=soup.find_all('div',class_='_30jeq3')
for i in name:
    names=i.text
    price.append(names)
price=price[2:21:2]
print(price)
len(price)

['₹499', '₹227', '₹199', '₹369', '₹949', '₹290', '₹489', '₹419', '₹292', '₹1,804']

10

In [45]:
df=pd.DataFrame({'Product Name':p_name,'Image Url':image_url,'Price':price})
print(df)

                                        Product Name  \
0            Women's Orange All Over Printed Pyjamas
1                              Women's Black Pyjamas
2                                Men's Black T-shirt
3                                Men's White T-shirt
4                      Women's Red Boyfriend T-shirt
5                          Men's Sage Green Trousers
6                        Men's Desert Beige Trousers
7                          Men's Dark Olive Trousers
8  Women's Purple Sunny Moooood Graphic Printed B...
9                    Women's Black Oversized T-shirt

                                           Image Url   Price
0  https://images.bewakoof.com/t640/women-aop-reg...    ₹499
1  https://images.bewakoof.com/t640/women-s-black...    ₹227
2  https://images.bewakoof.com/t640/men-s-black-t...    ₹199
3  https://images.bewakoof.com/t640/men-s-white-t...    ₹369
4  https://images.bewakoof.com/t640/women-s-red-b...    ₹949
5  https://images.bewakoof.com/t640/sage-green-ca...    ₹290
6  https://images.bewakoof.com/t640/desert-beige-...    ₹489
7  https://images.bewakoof.com/t640/dark-olive-ca...    ₹419
8  https://images.bewakoof.com/t640/women-s-purpl...    ₹292
9  https://images.bewakoof.com/t640/women-black-s...  ₹1,804

In [22]:
# Qestion 7. Please visit: https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/ and scrap-
#a) Paper title
#b) date
#c) Autho

In [23]:
url='https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [41]:
title=[]
name=soup.find_all('h2',class_='h5 article-title')
for i in name:   
    names=i.text.replace('\n',"").replace('\r',"").replace("          ","")
    title.append(names)
title

['Implementation of artificial intelligence in agriculture for optimisation of irrigation and application of pesticides and herbicides      ',
 'Review of agricultural IoT technology      ',
 'A comprehensive review on automation in agriculture using artificial intelligence      ',
 'Automation and digitization of agriculture using artificial intelligence and internet of things      ',
 'Applications of electronic nose (e-nose) and electronic tongue (e-tongue) in food quality-related properties determination: A review      ',
 'Fruit ripeness classification: A survey      ',
 'A review of imaging techniques for plant disease detection      ',
 'Deep learning based computer vision approaches for smart agricultural applications      ',
 'Comparison of CNN-based deep learning architectures for rice diseases classification      ',
 'Transfer Learning for Multi-Crop Leaf Disease Image Classification using Convolutional Neural Network VGG      ',
 'Plant disease detection using hybrid model based on convolutional autoencoder and convolutional neural network      ',
 'Machine learning in nutrient management: A review      ',
 'DeepRice: A deep learning and deep feature based classification of Rice leaf disease subtypes      ',
 'How artificial intelligence uses to achieve the agriculture sustainability: Systematic review      ',
 'Machine learning for weed–plant discrimination in agriculture 5.0: An in-depth review      ',
 'Examining the interplay between artificial intelligence and the agri-food industry      ',
 'Deep convolutional neural network models for weed detection in polyhouse grown bell peppers      ',
 'A systematic review of machine learning techniques for cattle identification: Datasets, methods and future directions      ',
 'A review on computer vision systems in monitoring of poultry: A welfare perspective      ',
 'Crop diagnostic system: A robust disease detection and management system for leafy green crops grown in an aquaponics facility      ',
 'Artificial cognition for applications in smart agriculture: A comprehensive review      ',
 'Explainable artificial intelligence and interpretable machine learning for agricultural data analysis      ',
 'Blockchain: A new safeguard for agri-foods      ',
 'Study on body temperature detection of pig based on infrared technology: A review      ',
 'Vision Intelligence for Smart Sheep Farming: Applying Ensemble Learning to Detect Sheep Breeds      ']

In [42]:
date=[]
name=soup.find_all('p',class_='article-date')
for i in name:   
    names=i.text
    date.append(names)
date

['2020',
 '2022',
 'June 2019',
 '2021',
 '2020',
 'March 2023',
 '2020',
 '2022',
 'September 2023',
 '2022',
 '2021',
 'September 2023',
 'March 2024',
 'June 2023',
 'December 2023',
 '2022',
 '2022',
 '2022',
 '2020',
 'December 2023',
 '2020',
 '2022',
 '2020',
 'March 2019',
 'March 2024']

In [43]:
author=[]
name=soup.find_all('p',class_='article-authors')
for i in name:   
    names=i.text
    author.append(names)
author

[' Tanha Talaviya |  Dhara Shah |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah',
 ' Jinyuan Xu |  Baoxing Gu |  Guangzhao Tian',
 ' Kirtan Jha |  Aalap Doshi |  Poojan Patel |  Manan Shah',
 ' A. Subeesh |  C.R. Mehta',
 ' Juzhong Tan |  Jie Xu',
 ' Matteo Rizzo |  Matteo Marcuzzo |  Alessandro Zangari |  Andrea Gasparetto |  Andrea Albarelli',
 ' Vijai Singh |  Namita Sharma |  Shikha Singh',
 ' V.G. Dhanya |  A. Subeesh |  N.L. Kushwaha |  Dinesh Kumar Vishwakarma |  T. Nagesh Kumar |  G. Ritika |  A.N. Singh',
 ' Md Taimur Ahad |  Yan Li |  Bo Song |  Touhid Bhuiyan',
 ' Ananda S. Paymode |  Vandana B. Malode',
 ' Punam Bedi |  Pushkar Gole',
 ' Oumnia Ennaji |  Leonardus Vergütz |  Achraf El Allali',
 ' P. Isaac Ritharson |  Kumudha Raimond |  X. Anitha Mary |  Jennifer Eunice Robert |  Andrew J',
 ' Vilani Sachithra |  L.D.C.S. Subhashini',
 ' Filbert H. Juwono |  W.K. Wong |  Seema Verma |  Neha Shekhawat |  Basil Andy Lease |  Catur Apriono',
 ' Abderahman Rejeb |  Karim Rejeb |  Suhaiza Zailani |  John G. Keogh |  Andrea Appolloni',
 ' A. Subeesh |  S. Bhole |  K. Singh |  N.S. Chandel |  Y.A. Rajwade |  K.V.R. Rao |  S.P. Kumar |  D. Jat',
 ' Md Ekramul Hossain |  Muhammad Ashad Kabir |  Lihong Zheng |  Dave L. Swain |  Shawn McGrath |  Jonathan Medway',
 ' Cedric Okinda |  Innocent Nyalala |  Tchalla Korohou |  Celestine Okinda |  Jintao Wang |  Tracy Achieng |  Patrick Wamalwa |  Tai Mang |  Mingxia Shen',
 ' R. Abbasi |  P. Martinez |  R. Ahmad',
 ' Misbah Pathan |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah',
 ' Masahiro Ryo',
 ' Jie Xu |  Shuang Guo |  David Xie |  Yaxuan Yan',
 ' Zaiqin Zhang |  Hang Zhang |  Tonghai Liu',
 ' Galib Muhammad Shahriar Himel |  Md. Masudul Islam |  Mijanur Rahaman']

In [44]:
df=pd.DataFrame({'Paper title':title,"Date":date,"Author":author})
df

,Paper title,Date,Author
0,Implementation of artificial intelligence in a...,2020,Tanha Talaviya | Dhara Shah | Nivedita Pate...
1,Review of agricultural IoT technology,2022,Jinyuan Xu | Baoxing Gu | Guangzhao Tian
2,A comprehensive review on automation in agricu...,June 2019,Kirtan Jha | Aalap Doshi | Poojan Patel | ...
3,Automation and digitization of agriculture usi...,2021,A. Subeesh | C.R. Mehta
4,Applications of electronic nose (e-nose) and e...,2020,Juzhong Tan | Jie Xu
5,Fruit ripeness classification: A survey,March 2023,Matteo Rizzo | Matteo Marcuzzo | Alessandro...
6,A review of imaging techniques for plant disea...,2020,Vijai Singh | Namita Sharma | Shikha Singh
7,Deep learning based computer vision approaches...,2022,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...
8,Comparison of CNN-based deep learning architec...,September 2023,Md Taimur Ahad | Yan Li | Bo Song | Touhid...
9,Transfer Learning for Multi-Crop Leaf Disease ...,2022,Ananda S. Paymode | Vandana B. Malode
10,Plant disease detection using hybrid model bas...,2021,Punam Bedi | Pushkar Gole
11,Machine learning in nutrient management: A rev...,September 2023,Oumnia Ennaji | Leonardus Vergütz | Achraf ...
12,DeepRice: A deep learning and deep feature bas...,March 2024,P. Isaac Ritharson | Kumudha Raimond | X. A...
13,How artificial intelligence uses to achieve th...,June 2023,Vilani Sachithra | L.D.C.S. Subhashini
14,Machine learning for weed–plant discrimination...,December 2023,Filbert H. Juwono | W.K. Wong | Seema Verma...
15,Examining the interplay between artificial int...,2022,Abderahman Rejeb | Karim Rejeb | Suhaiza Za...
16,Deep convolutional neural network models for w...,2022,A. Subeesh | S. Bhole | K. Singh | N.S. Ch...
17,A systematic review of machine learning techni...,2022,Md Ekramul Hossain | Muhammad Ashad Kabir | ...
18,A review on computer vision systems in monitor...,2020,Cedric Okinda | Innocent Nyalala | Tchalla ...
19,Crop diagnostic system: A robust disease detec...,December 2023,R. Abbasi | P. Martinez | R. Ahmad
20,Artificial cognition for applications in smart...,2020,Misbah Pathan | Nivedita Patel | Hiteshri Y...
21,Explainable artificial intelligence and interp...,2022,Masahiro Ryo
22,Blockchain: A new safeguard for agri-foods,2020,Jie Xu | Shuang Guo | David Xie | Yaxuan Yan
23,Study on body temperature detection of pig bas...,March 2019,Zaiqin Zhang | Hang Zhang | Tonghai Liu
24,Vision Intelligence for Smart Sheep Farming: A...,March 2024,Galib Muhammad Shahriar Himel | Md. Masudul ...

In [45]:
df=pd.DataFrame({'Paper title':title,"Date":date,"Author":author})
print(df)

                                          Paper title            Date  \
0   Implementation of artificial intelligence in a...            2020
1         Review of agricultural IoT technology                  2022
2   A comprehensive review on automation in agricu...       June 2019
3   Automation and digitization of agriculture usi...            2021
4   Applications of electronic nose (e-nose) and e...            2020
5       Fruit ripeness classification: A survey            March 2023
6   A review of imaging techniques for plant disea...            2020
7   Deep learning based computer vision approaches...            2022
8   Comparison of CNN-based deep learning architec...  September 2023
9   Transfer Learning for Multi-Crop Leaf Disease ...            2022
10  Plant disease detection using hybrid model bas...            2021
11  Machine learning in nutrient management: A rev...  September 2023
12  DeepRice: A deep learning and deep feature bas...      March 2024
13  How artificial intelligence uses to achieve th...       June 2023
14  Machine learning for weed–plant discrimination...   December 2023
15  Examining the interplay between artificial int...            2022
16  Deep convolutional neural network models for w...            2022
17  A systematic review of machine learning techni...            2022
18  A review on computer vision systems in monitor...            2020
19  Crop diagnostic system: A robust disease detec...   December 2023
20  Artificial cognition for applications in smart...            2020
21  Explainable artificial intelligence and interp...            2022
22   Blockchain: A new safeguard for agri-foods                  2020
23  Study on body temperature detection of pig bas...      March 2019
24  Vision Intelligence for Smart Sheep Farming: A...      March 2024

                                               Author
0    Tanha Talaviya |  Dhara Shah |  Nivedita Pate...
1          Jinyuan Xu |  Baoxing Gu |  Guangzhao Tian
2    Kirtan Jha |  Aalap Doshi |  Poojan Patel |  ...
3                            A. Subeesh |  C.R. Mehta
4                               Juzhong Tan |  Jie Xu
5    Matteo Rizzo |  Matteo Marcuzzo |  Alessandro...
6        Vijai Singh |  Namita Sharma |  Shikha Singh
7    V.G. Dhanya |  A. Subeesh |  N.L. Kushwaha | ...
8    Md Taimur Ahad |  Yan Li |  Bo Song |  Touhid...
9              Ananda S. Paymode |  Vandana B. Malode
10                         Punam Bedi |  Pushkar Gole
11   Oumnia Ennaji |  Leonardus Vergütz |  Achraf ...
12   P. Isaac Ritharson |  Kumudha Raimond |  X. A...
13            Vilani Sachithra |  L.D.C.S. Subhashini
14   Filbert H. Juwono |  W.K. Wong |  Seema Verma...
15   Abderahman Rejeb |  Karim Rejeb |  Suhaiza Za...
16   A. Subeesh |  S. Bhole |  K. Singh |  N.S. Ch...
17   Md Ekramul Hossain |  Muhammad Ashad Kabir | ...
18   Cedric Okinda |  Innocent Nyalala |  Tchalla ...
19               R. Abbasi |  P. Martinez |  R. Ahmad
20   Misbah Pathan |  Nivedita Patel |  Hiteshri Y...
21                                       Masahiro Ryo
22    Jie Xu |  Shuang Guo |  David Xie |  Yaxuan Yan
23          Zaiqin Zhang |  Hang Zhang |  Tonghai Liu
24   Galib Muhammad Shahriar Himel |  Md. Masudul ...

# Thank You