In [1]:
import pandas as pd
import regex as re

In [32]:
#Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

In [33]:
sample_text='Python Exercise, PHP exercises.'
replace=r'[ ,.]'
expected_output=re.sub(replace,":",sample_text)
expected_output

'Python:Exercise::PHP:exercises:'

In [34]:
#Question 2-Create a dataframe using the dictionary below and remove everything from the columns except words.

In [35]:
dictionary={'summary':['hello,world!','test','123four, five:; six...']}
df=pd.DataFrame(dictionary)
def remove(text):
    return re.sub(r'[^a-zA-Z\s]','',text)
dataframe=df.applymap(remove)
dataframe

         summary
0     helloworld
1           test
2  four five six

In [36]:
#Quesiton 3-Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [38]:
def at_least_four(word):
    match=re.compile(r'\b\w{4,}\b')
    find=match.findall(word)
    return find
text='Data Science is a stream and part of machine learning and data science'
final=at_least_four(text)
final

['Data', 'Science', 'stream', 'part', 'machine', 'learning', 'data', 'science']

In [39]:
# Quesiton 4-Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [45]:
def find_3_4_5(word):
    match=re.compile(r'\b\w{3,5}\b')
    find=match.findall(word)
    return find
text='Data Science is a stream and part of machine learning and data sience'
final=find_3_4_5(text)
final

['Data', 'and', 'part', 'and', 'data']

In [42]:
#Question 5-Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [3]:
sampled_text=['example(.com)','hr@flip(robo).com','github.(com)','Data (Scientist)']
remove=re.compile(r'[()]')
for string in sampled_text:
    list=re.sub(remove,'',string)
    print(list)

example.com
hr@fliprobo.com
github.com
Data Scientist

In [4]:
#Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression

In [7]:
sampled_text=['example(.com)','hr@flip(robo).com','github.(com)','Data (Scientist)']
remove=re.compile(r'[()]')
list=[re.sub(remove,'',string) for string in sampled_text]
print(list)

['example.com', 'hr@fliprobo.com', 'github.com', 'Data Scientist']

In [ ]:
#Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [11]:
sample_text='ImportanceOfRegularExpressionInPyhton'
result=re.findall(r'[A-Z][a-z]*',sample_text)
result

['Importance', 'Of', 'Regular', 'Expression', 'In', 'Pyhton']

In [8]:
#Question 8- Create a function in python to insert spaces between words starting with numbers.

In [12]:
sample_text='RegularExpression1IsAn2ImportantTopic3Inpython'
word=re.sub(r'([0-9]+)([A-Z][a-z])',r' \1\2',sample_text)
word

'RegularExpression 1IsAn 2ImportantTopic 3Inpython'

In [ ]:
#Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.

In [10]:
sampled_text='RegularExpression1IsAn2ImportantTopic3InPython'
word=re.sub(r'([0-9]+)([A-Z][a-z])',r' \1 \2',sampled_text)
word

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

In [13]:
#Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.

In [40]:
df=pd.read_csv('dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [14]:
#Question 11-Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [26]:
def check_string(string):
    pattern=re.compile(r'^[a-zA-Z0-9_]+$')
    match=pattern.match(string)
    return match

In [27]:
string=input("Enter valid string")
if check_string(string):
    print('Its valid string')
else:
    print("String is not valid")

Enter valid stringSourav kuamr _Singh
Stirng is not valid

In [15]:
#Question 12- Write a Python program where a string will start with a specific number.

In [45]:
def strt_specific_num(string,strt_number):
    return string.startswith(str(strt_number))
string=input("Enter string: ")
strt_number=int(input('Enter strt number: '))
if strt_specific_num(string,strt_number):
    print("The number starts with:",strt_number)
else:
    print('The number deos not starts with:'.strt_number)

Enter string: 984454444
Enter strt number: 98
The number starts with: 98

In [16]:
#Question 13-Write a Python program to remove leading zeros from an IP address

In [17]:
#Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [18]:
#Question 15- Write a Python program to search some literals strings in a string.

In [21]:
text='The quick brown fox jump over the lazy dog'
search=['fox','dog','horse']
for word in search:
    if word in text:
        print(word)
    else:
        print(word,":is not in text")

fox
dog
horse :is not in text

In [22]:
#Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [23]:
text='The quick brown fox jump over the lazy dog'
search=re.search('fox',text)
search

In [24]:
#Question 17- Write a Python program to find the substrings within a string.

In [25]:
sampled_text='Python exercise,PHP exercise,C#exercise'
search=re.search('exercise',sampled_text)
search

In [26]:
#Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [27]:
#Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [3]:
from datetime import datetime
def convert_date(input_date):
    convert=datetime.strptime(input_date,'%Y-%m-%d')
    output=convert.strftime('%d-%m-%Y')
    return output
input_date=input("Enter date")
if convert_date(input_date):
    print('Date is right format: ',input_date)
else:
    print("Date is not in right format:",input_date)

Enter date1999-02-18
Date is right format:  1999-02-18

In [28]:
#Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [29]:
#Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [30]:
#Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [31]:
sampled_text='My marks in each semester are:947,789,567,987,598'
result=re.findall('\d+',sampled_text)
num=max(result)
num

'987'

In [32]:
#Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [21]:
def space(input_text):
    pattern=r'([A-Z][a-z]+)'
    capital_letter=re.sub(pattern,r' \1',input_text)
    return(capital_letter)

In [23]:
input_text=input("Enter text message ")
space(input_text)

Enter text message RegularExpressionIsAnImportantTopicInPython

' Regular Expression Is An Important Topic In Python'

In [24]:
#Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [7]:
sampled_text=input('Enter text ')
pattern=r'[A-Z][a-z]+'
compile=re.compile(pattern)
find=compile.findall(sampled_text)
find

Enter text My Country name is India

['My', 'Country', 'India']

In [ ]:
#Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [4]:
check_duplicate=input("Enter text")
pattern=r"\b(\w+)(\W\1\b)+"
word=re.sub(pattern,r"\1",check_duplicate)
word

Enter textHello Hello World World

'Hello World'

In [34]:
#Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [18]:
def accept_string(valid_string):
    pattern=re.compile(r'^.*[a-zA-Z0-9]$')
    same=pattern.match(valid_string)
    return match

In [19]:
valid_string=input("Enter valid string")
if accept_string(valid_string):
    print("String ending with aplahnumeric string:",valid_string)
else:
    print('String does not end with alphanumeric character')

Enter valid stringsourav kumar singh5505
String ending with aplahnumeric string: sourav kumar singh5505

In [35]:
#Question 27-Write a python program using RegEx to extract the hashtags.

In [36]:
sampled_text="""my name,@is #sourav | I live in #Mumbai"""
pattern=re.compile(r'#\w+')
extract=pattern.findall(sampled_text)
extract

['#sourav', '#Mumbai']

In [37]:
#Question 28- Write a python program using RegEx to remove <U+..> like symbols.

In [4]:
sampled_text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern=re.compile(r'<U\+[0-9a-fA-F]+>')
remove=re.sub(pattern,"",sampled_text)
remove

'@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders'

In [38]:
#Question 29- Write a python program to extract dates from the text stored in the text file.

In [39]:
#Question 30- Create a function in python to remove all words from a string of length between 2 and 4.

In [3]:
sampled_text="The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
pattern=re.compile(r'\b\w{2,4}\b')
remove=re.sub(pattern,"",sampled_text)
remove

' following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.'