In [119]:
import selenium
import pandas as pd 
import warnings
from selenium import webdriver
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time

In [87]:
driver=webdriver.Chrome()

In [86]:
# Question 1 .Scrap "https://www.naukri.com/" this site. Write a python program to scrape data for ““Data Scientist” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to 
#scrape first 20 jobs data.

In [76]:
driver.get('https://www.naukri.com/')

In [77]:
destignation=driver.find_element(By.CLASS_NAME,"suggestor-input ")
destignation.send_keys('Data Analyst')

In [78]:
location=driver.find_element(By.XPATH,"/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input")
location.send_keys("Bangalore")

In [79]:
search=driver.find_element(By.CLASS_NAME,'qsbSubmit')
search.click()

In [146]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [81]:
title_tags=driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tags:
    title=i.text
    job_title.append(title)
job_title[0:20]

['Data Analyst',
 'Data Analyst',
 'Online Data Analyst',
 'Data Analyst',
 'Data Analyst (automotive)',
 'Data Analyst',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst',
 'Intelliswift is hiring For a Data Analyst Bangalore (Hybrid)',
 'Data Analyst',
 'AWS Data Engineer/Data Analyst - Need Immediate_Deloitte',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Platform Data Analyst',
 'Data Analyst',
 'Data Analyst']

In [82]:
location_tags=driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location[0:20]

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Hybrid - Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana',
 'Hyderabad, Bengaluru',
 'Hyderabad, Bengaluru, Delhi / NCR',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Hybrid - Bengaluru(Bannerghatta Road)',
 'Chennai, Bengaluru']

In [83]:
company_tags=driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name[0:20]

['Orbit Skyline, Inc',
 'Target',
 'TELUS International',
 'FedEx TSCS (India) Pvt Ltd',
 'Fenyes Engineered Technology Pvt Ltd',
 'Tsit Digital Technologies',
 'Objectwin Technology',
 'Talent Sketchers',
 'Team ware solutions',
 '2coms',
 'Intelliswift',
 'Incanus Technologies',
 'Deloitte',
 'Team Lease Dgital',
 'Tata Consultancy Services (TCS)',
 'Softtek',
 'NetSkope Software',
 'Saltmine',
 'LKQ India',
 'Xoom']

In [84]:
experience_tags=driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required[0:20]

['2-4 Yrs',
 '2-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs',
 '8-12 Yrs',
 '0-5 Yrs',
 '5-8 Yrs',
 '6-10 Yrs',
 '4-9 Yrs',
 '4-6 Yrs',
 '3-5 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '3-5 Yrs']

In [ ]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [85]:
df=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name,"Expereince_required":experience_required})
df

,Job Title,Job Location,Company Name,Expereince_required
0,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...","Orbit Skyline, Inc",2-4 Yrs
1,Data Analyst,Bengaluru,Target,2-4 Yrs
2,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
3,Data Analyst,"Mumbai, Bengaluru",FedEx TSCS (India) Pvt Ltd,1-4 Yrs
4,Data Analyst (automotive),Bangalore/Bengaluru(Domlur),Fenyes Engineered Technology Pvt Ltd,5-6 Yrs
5,Data Analyst,"Hybrid - Bangalore Rural, Karnataka, Hyderabad...",Tsit Digital Technologies,5-10 Yrs
6,Data Analyst,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
7,Job opportunity _ Data Analyst,"Bangalore Rural, Karnataka, Hyderabad, Telanga...",Talent Sketchers,6-10 Yrs
8,Data Analyst,Hybrid - Bengaluru,Team ware solutions,5-10 Yrs
9,ETL - Data Analyst,Bengaluru,2coms,5-10 Yrs
10,Intelliswift is hiring For a Data Analyst Bang...,Hybrid - Bengaluru,Intelliswift,8-12 Yrs
11,Data Analyst,"Hyderabad, Bengaluru, Delhi / NCR",Incanus Technologies,0-5 Yrs
12,AWS Data Engineer/Data Analyst - Need Immediat...,"Bangalore Rural, Karnataka, Hyderabad, Telangana",Deloitte,5-8 Yrs
13,Data Analyst,"Hyderabad, Bengaluru",Team Lease Dgital,6-10 Yrs
14,Data Analyst,"Hyderabad, Bengaluru, Delhi / NCR",Tata Consultancy Services (TCS),4-9 Yrs
15,Data Analyst,Bengaluru,Softtek,4-6 Yrs
16,Data Analyst,Bengaluru,NetSkope Software,3-5 Yrs
17,Platform Data Analyst,Bengaluru,Saltmine,2-4 Yrs
18,Data Analyst,Hybrid - Bengaluru(Bannerghatta Road),LKQ India,2-5 Yrs
19,Data Analyst,"Chennai, Bengaluru",Xoom,3-5 Yrs

In [88]:
# Question 2. : Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
#You have to scrape the job-title, job-location, company_name, experience_required. You have to 
#scrape first 10 jobs data.

In [225]:
driver=webdriver.Chrome()

In [226]:
driver.get('https://www.shine.com/')

In [228]:
destignation=driver.find_elements(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[1]/div/input')
destignation.send_keys('Data Analyst')

In [229]:
location=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[1]/ul/li[2]/div/input')
location.send_keys('Bangalore')

In [230]:
search=driver.find_element(By.XPATH,'/html/body/div/div[4]/div/div[2]/div[2]/div/form/div/div[2]/div/button')
search.click()

In [145]:
job_title=[]
job_location=[]
company_name=[]
experience_required=[]

In [233]:
job_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard__jjUmu  white-box-border jobCard"]/div/h2/a')
for i in job_tags:
    title=i.text
    job_title.append(title)
job_title=job_title[0:10]
print(job_title)
len(job_title)

['Data Analyst', 'Hiring For Data Analyst', 'Lead Data Analyst', 'Data Analyst', 'Vacancy For Data Analyst', 'Technical Data Architect', 'Data Science Architect', 'Data Engineer', 'Clinical Data Associate', 'Part-Time Data Entry Operator work']

10

In [253]:
location_tags=driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[4]/div/div[2]/div[1]/div/div/div[7]/div[1]/div[1]/div[3]/div[2]')
for i in location_tags:
    location=i.text
    job_location.append(location)
job_location=job_location[0:10]
print(job_location)
len(job_location)

['Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore', 'Bangalore']

10

In [236]:
company_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in company_tags:
    company=i.text
    company_name.append(company)
company_name=company_name[1:11]
print(company_name)
len(company_name)

['sahast sales corporation', 'radhika enterprises', 'ara resources private limited', 'diraa hr services hiring for mncs', 'yogita staffing solution', 'uprighthc solutions private limited', 'symphoni hr pvt. ltd.', 'spm hr solutions', 'techno endura', 'techno endura']

10

In [238]:
experience_tags=driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')
for i in experience_tags:
    experience=i.text
    experience_required.append(experience)
experience_required=experience_required[1:11]
print(experience_required)
len(experience_required)

['12 to 22 Yrs', '0 to 4 Yrs', '4 to 9 Yrs', '0 to 1 Yr', '0 to 3 Yrs', '10 to 20 Yrs', '8 to 10 Yrs', '4 to 6 Yrs', '0 to 1 Yr', '0 to 1 Yr']

10

In [254]:
df=pd.DataFrame({"Job Title":job_title,"Job Location":job_location,"Company Name":company_name,"Expereince_required":experience_required})
df

,Job Title,Job Location,Company Name,Expereince_required
0,Data Analyst,Bangalore,sahast sales corporation,12 to 22 Yrs
1,Hiring For Data Analyst,Bangalore,radhika enterprises,0 to 4 Yrs
2,Lead Data Analyst,Bangalore,ara resources private limited,4 to 9 Yrs
3,Data Analyst,Bangalore,diraa hr services hiring for mncs,0 to 1 Yr
4,Vacancy For Data Analyst,Bangalore,yogita staffing solution,0 to 3 Yrs
5,Technical Data Architect,Bangalore,uprighthc solutions private limited,10 to 20 Yrs
6,Data Science Architect,Bangalore,symphoni hr pvt. ltd.,8 to 10 Yrs
7,Data Engineer,Bangalore,spm hr solutions,4 to 6 Yrs
8,Clinical Data Associate,Bangalore,techno endura,0 to 1 Yr
9,Part-Time Data Entry Operator work,Bangalore,techno endura,0 to 1 Yr

In [1]:
#: Scrape data of first 100 mobiles listings on flipkart.com. You have to scrape four attributes:

In [262]:
driver=webdriver.Chrome()

In [263]:
driver.get('https://www.flipkart.com/')

In [264]:
destignation=driver.find_element(By.XPATH,"/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div/div/div[1]/div[1]/header/div[1]/div[2]/form/div/div/input")
destignation.send_keys('Sunglass')

In [265]:
search=driver.find_element(By.XPATH,'/html/body/div[1]/div/div[1]/div/div/div/div/div[1]/div/div/div/div[1]/div[1]/header/div[1]/div[2]/form/div/button')
search.click()

In [268]:
brand=[]
description=[]
prices=[]

In [269]:
start=0
end=3
for page in range(start,end):
    titles=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in titles:
        brand.append(i.text)
        
    price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in price:
        title=i.text
        prices.append(title)

        
    desc=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for i in desc:
        title=i.text
        description.append(title)
        
next_button=driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
next_button.click()
time.sleep(3)

In [282]:
brand=brand[0:100]
print(brand)

['Singco India', 'Singco India', 'SRPM', 'Fastrack', 'Elligator', 'Fastrack', 'Aarna Fashion', 'Singco India', 'ROADWAY', 'Fastrack', 'Poloport', 'Singco India', 'Elligator', 'GOOD FRIENDS', 'ROADWAY', 'Elligator', 'Singco India', 'EYEVITALS', 'Aarna Fashion', 'Elligator', 'ROYAL SON', 'Singco India', 'VINCENT CHASE', 'Elligator', 'Rich Club', 'Fastrack', 'Eyewearlabs', 'Eyewearlabs', 'Niavaa', 'PIRASO', 'RESIST EYEWEAR', 'Nicole Miller', 'PIRASO', 'VINCENT CHASE', 'Aarna Fashion', 'Hooper', 'AISLIN', 'VILLAIN', 'VINCENT CHASE', 'Elligator', 'Singco India', 'Singco India', 'SRPM', 'Fastrack', 'Elligator', 'Fastrack', 'Aarna Fashion', 'Singco India', 'ROADWAY', 'Fastrack', 'Poloport', 'Singco India', 'Elligator', 'GOOD FRIENDS', 'ROADWAY', 'Elligator', 'Singco India', 'EYEVITALS', 'Aarna Fashion', 'Elligator', 'ROYAL SON', 'Singco India', 'VINCENT CHASE', 'Elligator', 'Rich Club', 'Fastrack', 'Eyewearlabs', 'Eyewearlabs', 'Niavaa', 'PIRASO', 'RESIST EYEWEAR', 'Nicole Miller', 'PIRASO', 'VINCENT CHASE', 'Aarna Fashion', 'Hooper', 'AISLIN', 'VILLAIN', 'VINCENT CHASE', 'Elligator', 'Singco India', 'Singco India', 'SRPM', 'Fastrack', 'Elligator', 'Fastrack', 'Aarna Fashion', 'Singco India', 'ROADWAY', 'Fastrack', 'Poloport', 'Singco India', 'Elligator', 'GOOD FRIENDS', 'ROADWAY', 'Elligator', 'Singco India', 'EYEVITALS', 'Aarna Fashion', 'Elligator']

In [281]:
prices=prices[0:100]
print(prices)

['₹249', '₹249', '₹169', '₹569', '₹169', '₹539', '₹519', '₹499', '₹349', '₹599', '₹215', '₹375', '₹169', '₹247', '₹254', '₹169', '₹340', '₹499', '₹325', '₹149', '₹639', '₹590', '₹449', '₹159', '₹399', '₹769', '₹1,999', '₹1,236', '₹234', '₹299', '₹1,290', '₹2,499', '₹279', '₹499', '₹325', '₹487', '₹560', '₹499', '₹399', '₹159', '₹249', '₹249', '₹169', '₹569', '₹169', '₹539', '₹519', '₹499', '₹349', '₹599', '₹215', '₹375', '₹169', '₹247', '₹254', '₹169', '₹340', '₹499', '₹325', '₹149', '₹639', '₹590', '₹449', '₹159', '₹399', '₹769', '₹1,999', '₹1,236', '₹234', '₹299', '₹1,290', '₹2,499', '₹279', '₹499', '₹325', '₹487', '₹560', '₹499', '₹399', '₹159', '₹249', '₹249', '₹169', '₹569', '₹169', '₹539', '₹519', '₹499', '₹349', '₹599', '₹215', '₹375', '₹169', '₹247', '₹254', '₹169', '₹340', '₹499', '₹325', '₹149']

In [283]:
description=description[0:100]
print(description)

['UV Protection, Riding Glasses, Gradient Clubmaster Sung...', 'Mirrored Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection, Mirrored Wayfarer Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection, Riding Glasses Retro Square, Rectangular...', 'UV Protection Retro Square Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...', 'UV Protection Wayfarer Sunglasses (50)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'Riding Glasses, UV Protection Round, Over-sized Sunglas...', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'Polarized, UV Protection Retro Square Sunglasses (54)', 'Polarized, UV Protection Wayfarer Sunglasses (51)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (65)', 'Toughened Glass Lens Aviator Sunglasses (Free Size)', 'Polarized Butterfly Sunglasses (64)', 'UV Protection Over-sized Sunglasses (60)', 'by Lenskart UV Protection Wayfarer Sunglasses (59)', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (45)', 'Polarized, UV Protection Wayfarer Sunglasses (53)', 'Others Retro Square Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Round Sunglasses (53)', 'UV Protection, Riding Glasses, Gradient Clubmaster Sung...', 'Mirrored Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection, Mirrored Wayfarer Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection, Riding Glasses Retro Square, Rectangular...', 'UV Protection Retro Square Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...', 'UV Protection Wayfarer Sunglasses (50)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'Riding Glasses, UV Protection Round, Over-sized Sunglas...', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Retro Square Sunglasses (54)', 'UV Protection Aviator Sunglasses (58)', 'Polarized, UV Protection Retro Square Sunglasses (54)', 'Polarized, UV Protection Wayfarer Sunglasses (51)', 'UV Protection Aviator Sunglasses (Free Size)', 'UV Protection Over-sized Sunglasses (65)', 'Toughened Glass Lens Aviator Sunglasses (Free Size)', 'Polarized Butterfly Sunglasses (64)', 'UV Protection Over-sized Sunglasses (60)', 'by Lenskart UV Protection Wayfarer Sunglasses (59)', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (45)', 'Polarized, UV Protection Wayfarer Sunglasses (53)', 'Others Retro Square Sunglasses (Free Size)', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...', 'UV Protection Round Sunglasses (53)', 'UV Protection, Riding Glasses, Gradient Clubmaster Sung...', 'Mirrored Wayfarer Sunglasses (50)', 'UV Protection Wayfarer Sunglasses (58)', 'UV Protection, Mirrored Wayfarer Sunglasses (52)', 'UV Protection Rectangular Sunglasses (Free Size)', 'UV Protection Retro Square Sunglasses (50)', 'UV Protection, Riding Glasses Retro Square, Rectangular...', 'UV Protection Retro Square Sunglasses (Free Size)', 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)', 'UV Protection Wayfarer Sunglasses (Free Size)', 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...', 'UV Protection Wayfarer Sunglasses (53)', 'Polarized Aviator Sunglasses (Free Size)', 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...', 'UV Protection Wayfarer Sunglasses (50)', 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...', 'Riding Glasses, UV Protection Round, Over-sized Sunglas...', 'UV Protection Aviator Sunglasses (50)', 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...', 'Polarized, UV Protection Retro Square Sunglasses (55)', 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...', 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [285]:
df=pd.DataFrame({"Brand":brand,"Description":description,"Prices":prices})
print(df)

            Brand                                        Description Prices
0    Singco India  UV Protection, Riding Glasses, Gradient Clubma...   ₹249
1    Singco India                  Mirrored Wayfarer Sunglasses (50)   ₹249
2            SRPM             UV Protection Wayfarer Sunglasses (58)   ₹169
3        Fastrack   UV Protection, Mirrored Wayfarer Sunglasses (52)   ₹569
4       Elligator   UV Protection Rectangular Sunglasses (Free Size)   ₹169
..            ...                                                ...    ...
95      Elligator              UV Protection Aviator Sunglasses (50)   ₹169
96   Singco India  UV Protection Cat-eye, Retro Square, Oval, Rou...   ₹340
97      EYEVITALS  Polarized, UV Protection Retro Square Sunglass...   ₹499
98  Aarna Fashion  Gradient, Toughened Glass Lens, UV Protection ...   ₹325
99      Elligator  by Lenskart Polarized, UV Protection Wayfarer ...   ₹149

[100 rows x 3 columns]

In [286]:
df=pd.DataFrame({"Brand":brand,"Description":description,"Prices":prices})
df

            Brand                                        Description Prices
0    Singco India  UV Protection, Riding Glasses, Gradient Clubma...   ₹249
1    Singco India                  Mirrored Wayfarer Sunglasses (50)   ₹249
2            SRPM             UV Protection Wayfarer Sunglasses (58)   ₹169
3        Fastrack   UV Protection, Mirrored Wayfarer Sunglasses (52)   ₹569
4       Elligator   UV Protection Rectangular Sunglasses (Free Size)   ₹169
..            ...                                                ...    ...
95      Elligator              UV Protection Aviator Sunglasses (50)   ₹169
96   Singco India  UV Protection Cat-eye, Retro Square, Oval, Rou...   ₹340
97      EYEVITALS  Polarized, UV Protection Retro Square Sunglass...   ₹499
98  Aarna Fashion  Gradient, Toughened Glass Lens, UV Protection ...   ₹325
99      Elligator  by Lenskart Polarized, UV Protection Wayfarer ...   ₹149

[100 rows x 3 columns]

# THANK YOU