# Web Scraping Using Beautiful Soup

In [3]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [4]:
#Question 1. Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year ofrelease) and make data frame.

In [5]:
url=('https://www.imdb.com/list/ls056092300/')
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [154]:
movie_name=[]
names=soup.find_all('h3',class_='lister-item-header')
for i in names:
    name=i.a.text
    movie_name.append(name)
print(movie_name)
len(movie_name)

['Ship of Theseus', 'Iruvar', 'Kaagaz Ke Phool', 'Lagaan: Once Upon a Time in India', 'Pather Panchali', 'Charulata', 'Rang De Basanti', 'Dev.D', '3 Idiots', 'Awaara', 'Nayakan', 'Aparajito', 'Pushpaka Vimana', 'Pyaasa', 'Ghatashraddha', 'Sholay', 'Aradhana', 'Do Ankhen Barah Haath', 'Bombay', 'Neecha Nagar', 'Do Bigha Zamin', 'Garm Hava', 'Piravi', 'Mughal-E-Azam', 'Amma Ariyan', 'Madhumati', 'Goopy Gyne Bagha Byne', 'Gangs of Wasseypur', 'Guide', 'Satya', 'Roja', 'Mr. India', 'The Cloud-Capped Star', 'Harishchandrachi Factory', 'Masoom', 'Agneepath', 'Tabarana Kathe', 'Zakhm', 'Dil Chahta Hai', 'Bhaag Milkha Bhaag', 'Chupke Chupke', 'Dilwale Dulhania Le Jayenge', 'Taare Zameen Par', 'Ardh Satya', 'Bhumika', 'Enthiran', 'Sadma', 'Shwaas', 'Lamhe', 'Haqeeqat', 'Shree 420', 'Kannathil Muthamittal', 'Hum Aapke Hain Koun..!', 'Ustad Hotel', 'Bandit Queen', 'Lakshya', 'Black Friday', 'Manthan', 'Apoorva Raagangal', 'English Vinglish', 'Jewel Thief', 'Pakeezah', 'Maqbool', 'Jis Desh Men Ganga Behti Hai', 'Sahib Bibi Aur Ghulam', 'Shatranj Ke Khilari', 'Narthanasala', 'Chandni Bar', 'Vaaranam Aayiram', 'Mr. and Mrs. Iyer', 'Chandni', 'English, August', 'Celluloid', 'Sagara Sangamam', 'Munna Bhai M.B.B.S.', 'Saaransh', 'Guddi', 'Vanaja', 'Vazhakku Enn 18/9', 'Gangaajal', 'Angoor', 'Guru', 'Andaz Apna Apna', 'Sangam', 'Oka Oori Katha', 'Bhuvan Shome', 'Border', 'Parineeta', 'Devdas', 'Abohomaan', 'Kuch Kuch Hota Hai', 'Pithamagan', 'Veyyil', 'Chemmeen', 'Jaane Bhi Do Yaaro', 'Apur Sansar', 'Kanchivaram', 'Monsoon Wedding', 'Black', 'Deewaar']

100

In [155]:
rating=[]
names=soup.find_all('div',class_='ipl-rating-star small')
for i in names:
    names=i.text.replace('\n','')
    rating.append(names)
print(rating)
len(rating)

['8', '8.4', '7.8', '8.1', '8.2', '8.1', '8.1', '7.9', '8.4', '7.8', '8.6', '8.2', '8.6', '8.3', '7.6', '8.1', '7.6', '8.4', '8.1', '6.7', '8.3', '8.1', '7.8', '8.1', '7.4', '7.8', '8.7', '8.2', '8.3', '8.3', '8.1', '7.7', '7.8', '8.4', '8.4', '7.6', '8.1', '7.9', '8.1', '8.2', '8.3', '8', '8.3', '8.1', '7.4', '7.1', '8.3', '8.1', '7.2', '7.8', '7.9', '8.4', '7.5', '8.2', '7.5', '7.8', '8.4', '7.6', '7.6', '7.8', '7.9', '7.2', '8', '7.1', '8.1', '7.5', '8.1', '7.6', '8.2', '7.9', '6.7', '7.6', '7.7', '8.8', '8.1', '8.1', '7.2', '7.2', '8.3', '7.8', '8.3', '7.7', '8', '7.3', '7.8', '7.2', '7.9', '7.2', '7.7', '7.5', '7.5', '8.3', '7.8', '7.8', '8.3', '8.4', '8.2', '7.3', '8.1', '8']

100

In [156]:
year_release=[]
names=soup.find_all('span',class_='lister-item-year text-muted unbold')
for i in names:
    name=i.text.replace('(',"").replace(')','')
    year_release.append(name)
print(year_release)
len(year_release)

['2012', '1997', '1959', '2001', '1955', '1964', '2006', '2009', '2009', '1951', '1987', '1956', '1987', '1957', '1977', '1975', '1969', '1957', '1995', '1946', '1953', '1974', '1989', '1960', '1986', '1958', '1969', '2012', '1965', '1998', '1992', '1987', '1960', '2009', '1983', '1990', '1986', '1998', '2001', '2013', '1975', '1995', '2007', '1983', '1977', '2010', '1983', '2004', '1991', '1964', '1955', '2002', '1994', '2012', '1994', '2004', '2004', '1976', '1975', '2012', '1967', '1972', '2003', '1960', '1962', '1977', '1963', '2001', '2008', '2002', '1989', '1994', '2013', '1983', '2003', '1984', '1971', '2006', '2012', '2003', '1982', '2007', '1994', 'I 1964', '1978', '1969', 'I 1997', '2005', '1955', '2009', '1998', '2003', '2006', '1965', '1983', '1959', '2008', '2001', '2005', '1975']

100

In [87]:
df=pd.DataFrame({'Movies Name':movie_name,'Rating':rating,'Year Of Release':year_release})
df

                          Movies Name Rating Year Of Release
0                     Ship of Theseus      8            2012
1                              Iruvar    8.4            1997
2                     Kaagaz Ke Phool    7.8            1959
3   Lagaan: Once Upon a Time in India    8.1            2001
4                     Pather Panchali    8.2            1955
..                                ...    ...             ...
95                        Apur Sansar    8.4            1959
96                        Kanchivaram    8.2            2008
97                    Monsoon Wedding    7.3            2001
98                              Black    8.1            2005
99                            Deewaar      8            1975

[100 rows x 3 columns]

In [91]:
#Question 2. Write a python program to scrape product name, price and discounts from flipkart

In [49]:
url='https://www.flipkart.com/search?q=ladies+bags&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page=1'
page=requests.get(url)
page

In [ ]:
sp=BeautifulSoup(page.content)
soup=sp.find('div',class_='_1YokD2 _3Mn1Gg')
soup

In [51]:
p_name=[]
names=soup.find_all('a',class_='IRpwTa')
for i in names:
    names=i.text
    p_name.append(names)
print(p_name)
len(p_name)

['Women Grey, Black Hand-held Bag - Extra Spacious', 'Women Pink Hand-held Bag - Extra Spacious', 'Women Beige Handbag - Extra Spacious', 'Women Blue Handbag', 'Women Black Shoulder Bag - Extra Spacious', 'Women Maroon Messenger Bag - Extra Spacious', 'Women Black Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Pink Hand-held Bag', 'Women Tan, Black Handbag', 'Women Grey Hand-held Bag - Regular Size', 'Women Blue Shoulder Bag', 'Women Maroon Shoulder Bag', 'Women Green Shoulder Bag', 'Women Black Messenger Bag - Extra Spacious', 'Women Beige, Black Hand-held Bag', 'Women Blue Shoulder Bag', 'Women Black Shoulder Bag', 'Women Multicolor Shoulder Bag', 'Women Silver Hobo', 'Women Black Hand-held Bag - Extra Spacious', 'Women Pink Messenger Bag - Extra Spacious', 'Women White Hand-held Bag - Mini', 'Women Blue Satchel - Regular Size', 'Women Yellow Shoulder Bag - Extra Spacious', 'Women Tan Handbag', 'Women Tan Hand-held Bag - Extra Spacious', 'Women Black Handbag - Regular Size', 'Women Multicolor Shoulder Bag', 'Women Red Hobo', 'Women Multicolor Messenger Bag', 'Women Grey Messenger Bag - Extra Spacious', 'Women Black Hobo - Extra Spacious', 'Women Black Satchel - Regular Size', 'Women Blue Hand-held Bag', 'Women Grey Shoulder Bag - Extra Spacious', 'Women Grey Shoulder Bag - Mini', 'Women Beige Satchel - Regular Size', 'Women Grey Shoulder Bag']

40

In [52]:
price=[]
name=soup.find_all('div',class_='_30jeq3')
for i in name:
    names=i.text
    price.append(names)
print(price)
len(price)

['₹499', '₹419', '₹949', '₹769', '₹227', '₹384', '₹199', '₹1,599', '₹369', '₹245', '₹1,139', '₹1,067', '₹290', '₹197', '₹489', '₹384', '₹1,804', '₹454', '₹292', '₹369', '₹1,299', '₹359', '₹384', '₹1,369', '₹1,219', '₹227', '₹599', '₹599', '₹384', '₹369', '₹1,159', '₹889', '₹384', '₹1,029', '₹1,449', '₹449', '₹499', '₹639', '₹899', '₹285']

40

In [53]:
discount=[]

name=soup.find_all('div',class_='_3Ay6Sb')
for i in name:
    names=i.text
    discount.append(names)
print(discount)
len(discount)

['82% off', '83% off', '70% off', '75% off', '85% off', '87% off', '90% off', '67% off', '50% off', '75% off', '71% off', '64% off', '83% off', '86% off', '34% off', '87% off', '57% off', '81% off', '83% off', '50% off', '71% off', '20% off', '87% off', '69% off', '72% off', '85% off', '78% off', '72% off', '82% off', '50% off', '61% off', '55% off', '87% off', '70% off', '67% off', '43% off', '73% off', '67% off', '69% off', '83% off']

40

In [55]:
df=pd.DataFrame({'Product Name':p_name,'Price':price,'Discount':discount})
df

                                        Product Name   Price Discount
0   Women Grey, Black Hand-held Bag - Extra Spacious    ₹499  82% off
1          Women Pink Hand-held Bag - Extra Spacious    ₹419  83% off
2               Women Beige Handbag - Extra Spacious    ₹949  70% off
3                                 Women Blue Handbag    ₹769  75% off
4          Women Black Shoulder Bag - Extra Spacious    ₹227  85% off
5        Women Maroon Messenger Bag - Extra Spacious    ₹384  87% off
6                           Women Black Shoulder Bag    ₹199  90% off
7                      Women Multicolor Shoulder Bag  ₹1,599  67% off
8                      Women Multicolor Shoulder Bag    ₹369  50% off
9                           Women Pink Hand-held Bag    ₹245  75% off
10                          Women Tan, Black Handbag  ₹1,139  71% off
11           Women Grey Hand-held Bag - Regular Size  ₹1,067  64% off
12                           Women Blue Shoulder Bag    ₹290  83% off
13                         Women Maroon Shoulder Bag    ₹197  86% off
14                          Women Green Shoulder Bag    ₹489  34% off
15        Women Black Messenger Bag - Extra Spacious    ₹384  87% off
16                  Women Beige, Black Hand-held Bag  ₹1,804  57% off
17                           Women Blue Shoulder Bag    ₹454  81% off
18                          Women Black Shoulder Bag    ₹292  83% off
19                     Women Multicolor Shoulder Bag    ₹369  50% off
20                                 Women Silver Hobo  ₹1,299  71% off
21        Women Black Hand-held Bag - Extra Spacious    ₹359  20% off
22         Women Pink Messenger Bag - Extra Spacious    ₹384  87% off
23                  Women White Hand-held Bag - Mini  ₹1,369  69% off
24                 Women Blue Satchel - Regular Size  ₹1,219  72% off
25        Women Yellow Shoulder Bag - Extra Spacious    ₹227  85% off
26                                 Women Tan Handbag    ₹599  78% off
27          Women Tan Hand-held Bag - Extra Spacious    ₹599  72% off
28                Women Black Handbag - Regular Size    ₹384  82% off
29                     Women Multicolor Shoulder Bag    ₹369  50% off
30                                    Women Red Hobo  ₹1,159  61% off
31                    Women Multicolor Messenger Bag    ₹889  55% off
32         Women Grey Messenger Bag - Extra Spacious    ₹384  87% off
33                 Women Black Hobo - Extra Spacious  ₹1,029  70% off
34                Women Black Satchel - Regular Size  ₹1,449  67% off
35                          Women Blue Hand-held Bag    ₹449  43% off
36          Women Grey Shoulder Bag - Extra Spacious    ₹499  73% off
37                    Women Grey Shoulder Bag - Mini    ₹639  67% off
38                Women Beige Satchel - Regular Size    ₹899  69% off
39                           Women Grey Shoulder Bag    ₹285  83% off

In [136]:
# Question 3.Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.
#b) Top 10 ODI Batsmen along with the records of their team and rating.
#c) Top 10 ODI bowlers along with the records of their team and rating.

In [137]:
#a) Top 10 ODI Batsmen in men’s cricket along with the records for matches, points and rating.

In [57]:
url='https://sports.ndtv.com/cricket/icc-rankings/odi-batting'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [59]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
p_name=p_name[0:10]
p_name

['Babar Azam',
 'Shubman Gill',
 'Virat Kohli',
 'Rohit Sharma',
 'Daryl Mitchell',
 'David Warner',
 'Harry Tector',
 'Dawid Malan',
 'Rassie van der Dussen',
 'Heinrich Klaasen']

In [60]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['Pakistan',
 'India',
 'India',
 'India',
 'New Zealand',
 'Australia',
 'Ireland',
 'England',
 'South Africa',
 'South Africa']

In [61]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
rating

['824', '801', '768', '746', '728', '723', '723', '707', '701', '697']

In [62]:
df=pd.DataFrame({'Player Name':p_name,'Country':country,'Rating':rating})
df

             Player Name       Country Rating
0             Babar Azam      Pakistan    824
1           Shubman Gill         India    801
2            Virat Kohli         India    768
3           Rohit Sharma         India    746
4         Daryl Mitchell   New Zealand    728
5           David Warner     Australia    723
6           Harry Tector       Ireland    723
7            Dawid Malan       England    707
8  Rassie van der Dussen  South Africa    701
9       Heinrich Klaasen  South Africa    697

In [63]:
# b.Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [64]:
url='https://sports.ndtv.com/cricket/icc-rankings'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [66]:
team=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    team.append(name)
team=team[0:10]
team

['Australia',
 'India',
 'England',
 'South Africa',
 'New Zealand',
 'Pakistan',
 'West Indies',
 'Sri Lanka',
 'Bangladesh',
 'Zimbabwe']

In [67]:
match=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    match.append(name)
match=match[0:30:3]
match

['37', '32', '43', '24', '26', '29', '31', '27', '22', '7']

In [68]:
points=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    points.append(name)
points=points[1:30:3]
points

['4345', '3746', '4941', '2536', '2471', '2576', '2505', '2123', '1131', '223']

In [69]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[2:30:3]
rating

['117', '117', '115', '106', '95', '89', '81', '79', '51', '32']

In [70]:
df=pd.DataFrame({'Team':team,'Matches':match,'Points':points,'Rating':rating})
df

           Team Matches Points Rating
0     Australia      37   4345    117
1         India      32   3746    117
2       England      43   4941    115
3  South Africa      24   2536    106
4   New Zealand      26   2471     95
5      Pakistan      29   2576     89
6   West Indies      31   2505     81
7     Sri Lanka      27   2123     79
8    Bangladesh      22   1131     51
9      Zimbabwe       7    223     32

In [71]:
# c . Top 10 ODI bowlers along with the records of their team and rating.

In [72]:
url='https://sports.ndtv.com/cricket/icc-rankings/odi-bowling'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [74]:
p_name=[]
name=soup.find_all('span',class_='rnk_tbl-nm')
for i in name:
    name=i.a.text.replace('\n',"")
    p_name.append(name)
p_name=p_name[0:10]
p_name

['Keshav Maharaj',
 'Josh Hazlewood',
 'Adam Zampa',
 'Mohammed Siraj',
 'Jasprit Bumrah',
 'Mohammad Nabi',
 'Shaheen Afridi',
 'Rashid Khan',
 'Kuldeep Yadav',
 'Trent Boult']

In [75]:
country=[]
name=soup.find_all('span',class_='rnk_tbl-tm')
for i in name:
    name=i.text.replace('\n',"")
    country.append(name)
country=country[0:10]
country

['South Africa',
 'Australia',
 'Australia',
 'India',
 'India',
 'Afghanistan',
 'Pakistan',
 'Afghanistan',
 'India',
 'New Zealand']

In [76]:
rating=[]
name=soup.find_all('td',class_='rnk_tbl-td rnk_tx-rt')
for i in name:
    name=i.text.replace('\n',"")
    rating.append(name)
rating=rating[0:20:2]
rating

['716', '688', '686', '678', '665', '653', '650', '647', '645', '643']

In [77]:
df=pd.DataFrame({'Player Name':p_name,'Country':country,'Rating':rating})
df

      Player Name       Country Rating
0  Keshav Maharaj  South Africa    716
1  Josh Hazlewood     Australia    688
2      Adam Zampa     Australia    686
3  Mohammed Siraj         India    678
4  Jasprit Bumrah         India    665
5   Mohammad Nabi   Afghanistan    653
6  Shaheen Afridi      Pakistan    650
7     Rashid Khan   Afghanistan    647
8   Kuldeep Yadav         India    645
9     Trent Boult   New Zealand    643

In [78]:
# Question 5. Write a python program to scrape house details from mentioned URL. It should include house title, location,
#area, deposits and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
#Rajaji Nagar.

In [59]:
url='https://www.nobroker.in/property/rent/chennai/Chennai/?searchParam=W3sibGF0IjoxMy4wNDM3NjEyODI5MTkyLCJsb24iOjgwLjIwMDA2ODUxNjk2OTMsInNob3dNYXAiOmZhbHNlLCJwbGFjZUlkIjoiQ2hJSllUTjlULXBsVWpvUk05UmphQXVuWVc0IiwicGxhY2VOYW1lIjoiQ2hlbm5haSIsImNpdHkiOiJjaGVubmFpIn1d&sharedAccomodation=0&orderBy=nbRank,desc&radius=2&traffic=true&travelTime=30&propertyType=rent&pageNo1'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [70]:
title=[]
name=soup.find_all('h2',class_='heading-6 flex items-center font-semi-bold m-0')
for i in name:
    name=i.text
    title.append(name)
title

['1 BHK House for Rent  In Saidapet Chennai',
 '2 BHK House for Rent  In Royapuram Chennai',
 '3 BHK Flat for Rent  In Thoraipakkam Chennai',
 '1 BHK House for Rent  In Purasaiwakkam Chennai',
 '1 RK Flat In Own for Rent  In Vadapalani Chennai',
 '2 BHK House for Rent  In  Chromepet Chennai',
 '3 BHK Flat In Madhurams Anugraha for Rent  In Shastri Nagar, Adyar Chennai',
 '2 BHK House for Rent  In Thiruvottiyur Chennai',
 '2 BHK Flat In Subhav Apartments for Rent  In Nungambakkam Chennai',
 '2 BHK House for Rent  In Kallikuppam Chennai',
 '2 BHK Flat In Parthan for Rent  In Purasaiwakkam Chennai',
 '1 BHK House for Rent  In Iyappanthangal Chennai',
 '2 BHK Flat In Eloi Flats for Lease  In Palaniappa Nagar, Madhavaram Chennai',
 '2 BHK House for Rent  In Velachery Chennai',
 '2 BHK Flat In Apartment for Rent  In Saligramam Chennai',
 '3 BHK Flat In Acchyuthans Sri Sudharsana for Rent  In Nanganallur Chennai',
 '2 BHK Flat In Prithvi Apartment for Rent  In Virugambakkam Chennai',
 '2 BHK Flat In Swaminathan Illam for Rent  In Padi Chennai',
 '1 RK House for Rent  In Maduravoyal Chennai',
 '2 BHK House for Rent  In Saidapet Metro Chennai',
 '2 BHK Flat In Sp Flats for Rent  In Thirumugan Street, Keelkattalai Chennai',
 '3 BHK Flat In Shri Sai Nivas for Rent  In , Porur Chennai',
 '2 BHK House for Rent  In K. K. Nagar Chennai',
 '2 BHK House for Rent  In Velachery Chennai',
 '2 BHK House for Rent  In Pallikaranai Chennai',
 '1 BHK House for Rent  In Saidapet Chennai']

In [71]:
price=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    price.append(name)
price=price[0:100:3]
price

['₹ 9,000 +₹ 500Maintenance',
 '₹ 17,000No Extra Maintenance',
 '₹ 28,000 +₹ 1,000Maintenance',
 '₹ 11,000 +₹ 500Maintenance',
 '₹ 10,000 +₹ 1,000Maintenance',
 '₹ 15,500No Extra Maintenance',
 '₹ 45,000No Extra Maintenance',
 '₹ 10,000 +₹ 200Maintenance',
 '₹ 25,000 +₹ 600Maintenance',
 '₹ 6,500No Extra Maintenance',
 '₹ 17,000 +₹ 1,800Maintenance',
 '₹ 12,000No Extra Maintenance',
 'Only Deposit +₹ 1,000Maintenance',
 '₹ 12,000No Extra Maintenance',
 '₹ 17,000 +₹ 1,000Maintenance',
 '₹ 25,000 +₹ 2,000Maintenance',
 '₹ 17,600 +₹ 1,200Maintenance',
 '₹ 14,000 +₹ 1,000Maintenance',
 '₹ 13,000No Extra Maintenance',
 '₹ 18,000 +₹ 500Maintenance',
 '₹ 12,000No Extra Maintenance',
 '₹ 20,000No Extra Maintenance',
 '₹ 22,000No Extra Maintenance',
 '₹ 15,000No Extra Maintenance',
 '₹ 13,000No Extra Maintenance',
 '₹ 9,000 +₹ 500Maintenance']

In [72]:
Deposit=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    Deposit.append(name)
Deposit=Deposit[1:100:3]
print(Deposit)
len(Deposit)

['₹50,000', '₹85,000', '₹1,50,000', '₹1,00,000', '₹50,000', '₹1,00,000', '₹2,00,000', '₹70,000', '₹2,00,000', '₹30,000', '₹1,50,000', '₹50,000', '₹13,00,000', '₹30,000', '₹1,00,000', '₹1,50,000', '₹1,00,000', '₹1,00,000', '₹50,000', '₹1,00,000', '₹60,000', '₹1,00,000', '₹1,32,000', '₹1,00,000', '₹78,000', '₹50,000']

26

In [73]:
area_in_sqft=[]
name=soup.find_all('div',class_='font-semi-bold heading-6')
for i in name:
    name=i.text
    area_in_sqft.append(name)
area_in_sqft=area_in_sqft[2:100:3]
print(area_in_sqft)
len(area_in_sqft)

['400 sqft', '1,000 sqft', '1,400 sqft', '500 sqft', '400 sqft', '1,200 sqft', '1,500 sqft', '800 sqft', '760 sqft', '600 sqft', '1,000 sqft', '700 sqft', '740 sqft', '600 sqft', '1,100 sqft', '1,250 sqft', '756 sqft', '700 sqft', '360 sqft', '950 sqft', '820 sqft', '1,100 sqft', '900 sqft', '600 sqft', '990 sqft', '400 sqft']

26

In [77]:
df=pd.DataFrame({"Area/Title":title,'Price':price,"Deposits":Deposit,"Area in sqft":area_in_sqft})
df

,Area/Title,Price,Deposits,Area in sqft
0,1 BHK House for Rent In Saidapet Chennai,"₹ 9,000 +₹ 500Maintenance","₹50,000",400 sqft
1,2 BHK House for Rent In Royapuram Chennai,"₹ 17,000No Extra Maintenance","₹85,000","1,000 sqft"
2,3 BHK Flat for Rent In Thoraipakkam Chennai,"₹ 28,000 +₹ 1,000Maintenance","₹1,50,000","1,400 sqft"
3,1 BHK House for Rent In Purasaiwakkam Chennai,"₹ 11,000 +₹ 500Maintenance","₹1,00,000",500 sqft
4,1 RK Flat In Own for Rent In Vadapalani Chennai,"₹ 10,000 +₹ 1,000Maintenance","₹50,000",400 sqft
5,2 BHK House for Rent In Chromepet Chennai,"₹ 15,500No Extra Maintenance","₹1,00,000","1,200 sqft"
6,3 BHK Flat In Madhurams Anugraha for Rent In ...,"₹ 45,000No Extra Maintenance","₹2,00,000","1,500 sqft"
7,2 BHK House for Rent In Thiruvottiyur Chennai,"₹ 10,000 +₹ 200Maintenance","₹70,000",800 sqft
8,2 BHK Flat In Subhav Apartments for Rent In N...,"₹ 25,000 +₹ 600Maintenance","₹2,00,000",760 sqft
9,2 BHK House for Rent In Kallikuppam Chennai,"₹ 6,500No Extra Maintenance","₹30,000",600 sqft
10,2 BHK Flat In Parthan for Rent In Purasaiwakk...,"₹ 17,000 +₹ 1,800Maintenance","₹1,50,000","1,000 sqft"
11,1 BHK House for Rent In Iyappanthangal Chennai,"₹ 12,000No Extra Maintenance","₹50,000",700 sqft
12,2 BHK Flat In Eloi Flats for Lease In Palania...,"Only Deposit +₹ 1,000Maintenance","₹13,00,000",740 sqft
13,2 BHK House for Rent In Velachery Chennai,"₹ 12,000No Extra Maintenance","₹30,000",600 sqft
14,2 BHK Flat In Apartment for Rent In Saligrama...,"₹ 17,000 +₹ 1,000Maintenance","₹1,00,000","1,100 sqft"
15,3 BHK Flat In Acchyuthans Sri Sudharsana for R...,"₹ 25,000 +₹ 2,000Maintenance","₹1,50,000","1,250 sqft"
16,2 BHK Flat In Prithvi Apartment for Rent In V...,"₹ 17,600 +₹ 1,200Maintenance","₹1,00,000",756 sqft
17,2 BHK Flat In Swaminathan Illam for Rent In P...,"₹ 14,000 +₹ 1,000Maintenance","₹1,00,000",700 sqft
18,1 RK House for Rent In Maduravoyal Chennai,"₹ 13,000No Extra Maintenance","₹50,000",360 sqft
19,2 BHK House for Rent In Saidapet Metro Chennai,"₹ 18,000 +₹ 500Maintenance","₹1,00,000",950 sqft
20,2 BHK Flat In Sp Flats for Rent In Thirumugan...,"₹ 12,000No Extra Maintenance","₹60,000",820 sqft
21,"3 BHK Flat In Shri Sai Nivas for Rent In , Po...","₹ 20,000No Extra Maintenance","₹1,00,000","1,100 sqft"
22,2 BHK House for Rent In K. K. Nagar Chennai,"₹ 22,000No Extra Maintenance","₹1,32,000",900 sqft
23,2 BHK House for Rent In Velachery Chennai,"₹ 15,000No Extra Maintenance","₹1,00,000",600 sqft
24,2 BHK House for Rent In Pallikaranai Chennai,"₹ 13,000No Extra Maintenance","₹78,000",990 sqft
25,1 BHK House for Rent In Saidapet Chennai,"₹ 9,000 +₹ 500Maintenance","₹50,000",400 sqft

In [47]:
# Question 6
#Write a python program to scrape first 10 product details which include product name , price , Image URL from
#https://www.bewakoof.com/bestseller?sort=popular

In [39]:
url='https://www.bewakoof.com/bestseller?sort=popular'
page=requests.get(url)
page

In [ ]:
soup=BeautifulSoup(page.content)
soup

In [41]:
p_name=[]
names=soup.find_all('div',class_='productNaming bkf-ellipsis')
for i in names:
    names=i.h2.text
    p_name.append(names)
print(p_name)
len(p_name)

["Women's Orange All Over Printed Pyjamas", "Women's Black Pyjamas", "Men's Black T-shirt", "Men's White T-shirt", "Women's Red Boyfriend T-shirt", "Men's Sage Green Trousers", "Men's Desert Beige Trousers", "Men's Dark Olive Trousers", "Women's Purple Sunny Moooood Graphic Printed Boyfriend T-shirt", "Women's Black Oversized T-shirt"]

10

In [42]:
image_url=[]
names=soup.find_all('img',class_='productImgTag')
for i in names:
    image_url.append(i['src'])
image_url

['https://images.bewakoof.com/t640/women-aop-regular-pyjama-604946-1702644020-1.jpg',
 'https://images.bewakoof.com/t640/women-s-black-pyjamas-581562-1707292627-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirt-106-1701423878-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-105-1702967985-1.jpg',
 'https://images.bewakoof.com/t640/women-s-red-boyfriend-t-shirt-170465-1658918677-1.jpg',
 'https://images.bewakoof.com/t640/sage-green-casual-cotton-trouser-340543-1663661829-1.jpg',
 'https://images.bewakoof.com/t640/desert-beige-casual-cotton-trouser-330853-1663661915-1.jpg',
 'https://images.bewakoof.com/t640/dark-olive-casual-cotton-trouser-330854-1663662028-1.jpg',
 'https://images.bewakoof.com/t640/women-s-purple-sunny-moooood-graphic-printed-boyfriend-t-shirt-588990-1681219884-1.jpg',
 'https://images.bewakoof.com/t640/women-black-solid-oversize-t-shirt-580349-1684862246-1.jpg']

In [38]:
price=[]
name=soup.find_all('div',class_='_30jeq3')
for i in name:
    names=i.text
    price.append(names)
price=price[2:21:2]
print(price)
len(price)

['₹499', '₹227', '₹199', '₹369', '₹949', '₹290', '₹489', '₹419', '₹292', '₹1,804']

10

In [45]:
df=pd.DataFrame({'Product Name':p_name,'Image Url':image_url,'Price':price})
print(df)

                                        Product Name  \
0            Women's Orange All Over Printed Pyjamas
1                              Women's Black Pyjamas
2                                Men's Black T-shirt
3                                Men's White T-shirt
4                      Women's Red Boyfriend T-shirt
5                          Men's Sage Green Trousers
6                        Men's Desert Beige Trousers
7                          Men's Dark Olive Trousers
8  Women's Purple Sunny Moooood Graphic Printed B...
9                    Women's Black Oversized T-shirt

                                           Image Url   Price
0  https://images.bewakoof.com/t640/women-aop-reg...    ₹499
1  https://images.bewakoof.com/t640/women-s-black...    ₹227
2  https://images.bewakoof.com/t640/men-s-black-t...    ₹199
3  https://images.bewakoof.com/t640/men-s-white-t...    ₹369
4  https://images.bewakoof.com/t640/women-s-red-b...    ₹949
5  https://images.bewakoof.com/t640/sage-green-ca...    ₹290
6  https://images.bewakoof.com/t640/desert-beige-...    ₹489
7  https://images.bewakoof.com/t640/dark-olive-ca...    ₹419
8  https://images.bewakoof.com/t640/women-s-purpl...    ₹292
9  https://images.bewakoof.com/t640/women-black-s...  ₹1,804

# Thank You